<h2 id="overv" class="list">OMTD-SHARE ontology: Overview <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This ontology has the following classes and properties.</span>
<h4>Classes</h4>
<ul class="hlist">
   <li>
      <a href="#/AccessComponent"
         title="http://w3id.org/meta-share/omtd-share/AccessComponent">Access Component</a>
   </li>
   <li>
      <a href="#/AclAnthologyCorpusFormat"
         title="http://w3id.org/meta-share/omtd-share/AclAnthologyCorpusFormat">ACL Anthology Corpus format</a>
   </li>
   <li>
      <a href="#/AgriculturalEntity"
         title="http://w3id.org/meta-share/omtd-share/AgriculturalEntity">Agricultural entity</a>
   </li>
   <li>
      <a href="#/Agriculture"
         title="http://w3id.org/meta-share/omtd-share/Agriculture">Agriculture</a>
   </li>
   <li>
      <a href="#/AimedCorpusFormat"
         title="http://w3id.org/meta-share/omtd-share/AimedCorpusFormat">AIMED corpus format</a>
   </li>
   <li>
      <a href="#/Aligner" title="http://w3id.org/meta-share/omtd-share/Aligner">Aligner</a>
   </li>
   <li>
      <a href="#/AllbusVariable"
         title="http://w3id.org/meta-share/omtd-share/AllbusVariable">ALLBUS variable</a>
   </li>
   <li>
      <a href="#/AlvisEnrichedDocumentFormat"
         title="http://w3id.org/meta-share/omtd-share/AlvisEnrichedDocumentFormat">ALVIS Enriched Document format</a>
   </li>
   <li>
      <a href="#/Analyzer" title="http://w3id.org/meta-share/omtd-share/Analyzer">Analyzer</a>
   </li>
   <li>
      <a href="#/Annotation" title="http://w3id.org/meta-share/omtd-share/Annotation">Annotation</a>
   </li>
   <li>
      <a href="#/AnnotationFormat"
         title="http://w3id.org/meta-share/omtd-share/AnnotationFormat">Annotation format</a>
   </li>
   <li>
      <a href="#/AnnotationOfCompoundingFeatures"
         title="http://w3id.org/meta-share/omtd-share/AnnotationOfCompoundingFeatures">Annotation of compounds</a>
   </li>
   <li>
      <a href="#/AnnotationOfDerivationalFeatures"
         title="http://w3id.org/meta-share/omtd-share/AnnotationOfDerivationalFeatures">Annotation of derivational features</a>
   </li>
   <li>
      <a href="#/AnnotationOfDocumentStructure"
         title="http://w3id.org/meta-share/omtd-share/AnnotationOfDocumentStructure">Annotation of document structure</a>
   </li>
   <li>
      <a href="#/AnnotationOfMultiWordUnits"
         title="http://w3id.org/meta-share/omtd-share/AnnotationOfMultiWordUnits">Annotation of multi-word units</a>
   </li>
   <li>
      <a href="#/AnnotationType"
         title="http://w3id.org/meta-share/omtd-share/AnnotationType">Annotation type</a>
   </li>
   <li>
      <a href="#/Annotator" title="http://w3id.org/meta-share/omtd-share/Annotator">Annotator</a>
   </li>
   <li>
      <a href="#/AnnotatorOfSemanticRoleLabels"
         title="http://w3id.org/meta-share/omtd-share/AnnotatorOfSemanticRoleLabels">Annotator of semantic role labels</a>
   </li>
   <li>
      <a href="#/Argumentation"
         title="http://w3id.org/meta-share/omtd-share/Argumentation">Argumentation</a>
   </li>
   <li>
      <a href="#/ArtificialNeuralNetwork"
         title="http://w3id.org/meta-share/omtd-share/ArtificialNeuralNetwork">Artificial Neural Network</a>
   </li>
   <li>
      <a href="#/AssociationRuleLearning"
         title="http://w3id.org/meta-share/omtd-share/AssociationRuleLearning">Association Rule Learning</a>
   </li>
   <li>
      <a href="#/AudienceReaction"
         title="http://w3id.org/meta-share/omtd-share/AudienceReaction">Audience reaction</a>
   </li>
   <li>
      <a href="#/Bayesian" title="http://w3id.org/meta-share/omtd-share/Bayesian">Bayesian</a>
   </li>
   <li>
      <a href="#/BelowPosTagging"
         title="http://w3id.org/meta-share/omtd-share/BelowPosTagging">Below PoS Tagging</a>
   </li>
   <li>
      <a href="#/BilingualLexiconInduction"
         title="http://w3id.org/meta-share/omtd-share/BilingualLexiconInduction">Bilingual lexicon induction</a>
   </li>
   <li>
      <a href="#/BinaryCas" title="http://w3id.org/meta-share/omtd-share/BinaryCas">Binary CAS</a>
   </li>
   <li>
      <a href="#/BinaryFormat"
         title="http://w3id.org/meta-share/omtd-share/BinaryFormat">Binary format</a>
   </li>
   <li>
      <a href="#/BiologicalActivity"
         title="http://w3id.org/meta-share/omtd-share/BiologicalActivity">Biological activity</a>
   </li>
   <li>
      <a href="#/BiologicalEnity"
         title="http://w3id.org/meta-share/omtd-share/BiologicalEnity">Biological enity</a>
   </li>
   <li>
      <a href="#/Bionlp" title="http://w3id.org/meta-share/omtd-share/Bionlp">BioNLP</a>
   </li>
   <li>
      <a href="#/BionlpFormats"
         title="http://w3id.org/meta-share/omtd-share/BionlpFormats">BioNLP formats</a>
   </li>
   <li>
      <a href="#/BionlpSt2013A1_a2"
         title="http://w3id.org/meta-share/omtd-share/BionlpSt2013A1_a2">BioNLP-ST 2013 a1/a2</a>
   </li>
   <li>
      <a href="#/Blikiwikipedia"
         title="http://w3id.org/meta-share/omtd-share/Blikiwikipedia">blikiWikipedia</a>
   </li>
   <li>
      <a href="#/BncFormat" title="http://w3id.org/meta-share/omtd-share/BncFormat">BNC format</a>
   </li>
   <li>
      <a href="#/BrainRegion"
         title="http://w3id.org/meta-share/omtd-share/BrainRegion">Brain region</a>
   </li>
   <li>
      <a href="#/Brat" title="http://w3id.org/meta-share/omtd-share/Brat">BRAT</a>
   </li>
   <li>
      <a href="#/Cadixe_json"
         title="http://w3id.org/meta-share/omtd-share/Cadixe_json">Cadixe/JSON</a>
   </li>
   <li>
      <a href="#/CertaintyLevel"
         title="http://w3id.org/meta-share/omtd-share/CertaintyLevel">Certainty level</a>
   </li>
   <li>
      <a href="#/Chat" title="http://w3id.org/meta-share/omtd-share/Chat">CHAT</a>
   </li>
   <li>
      <a href="#/Chemical" title="http://w3id.org/meta-share/omtd-share/Chemical">Chemical</a>
   </li>
   <li>
      <a href="#/ChemicalEntity"
         title="http://w3id.org/meta-share/omtd-share/ChemicalEntity">Chemical entity</a>
   </li>
   <li>
      <a href="#/Chunk" title="http://w3id.org/meta-share/omtd-share/Chunk">Chunk</a>
   </li>
   <li>
      <a href="#/Chunker" title="http://w3id.org/meta-share/omtd-share/Chunker">Chunker</a>
   </li>
   <li>
      <a href="#/Chunking" title="http://w3id.org/meta-share/omtd-share/Chunking">Chunking</a>
   </li>
   <li>
      <a href="#/Citation" title="http://w3id.org/meta-share/omtd-share/Citation">Citation</a>
   </li>
   <li>
      <a href="#/Clause" title="http://w3id.org/meta-share/omtd-share/Clause">Clause</a>
   </li>
   <li>
      <a href="#/ClusteringMethod"
         title="http://w3id.org/meta-share/omtd-share/ClusteringMethod">Clustering Method</a>
   </li>
   <li>
      <a href="#/CoReferenceAnnotator"
         title="http://w3id.org/meta-share/omtd-share/CoReferenceAnnotator">Co-reference annotator</a>
   </li>
   <li>
      <a href="#/CoReferenceResolution"
         title="http://w3id.org/meta-share/omtd-share/CoReferenceResolution">Co-reference resolution</a>
   </li>
   <li>
      <a href="#/Cochrane" title="http://w3id.org/meta-share/omtd-share/Cochrane">Cochrane</a>
   </li>
   <li>
      <a href="#/ComponentType"
         title="http://w3id.org/meta-share/omtd-share/ComponentType">Component type</a>
   </li>
   <li>
      <a href="#/Compound" title="http://w3id.org/meta-share/omtd-share/Compound">Compound</a>
   </li>
   <li>
      <a href="#/ComputationalArgumentation"
         title="http://w3id.org/meta-share/omtd-share/ComputationalArgumentation">Computational argumentation</a>
   </li>
   <li>
      <a href="#/ConllFormat"
         title="http://w3id.org/meta-share/omtd-share/ConllFormat">CoNLL format</a>
   </li>
   <li>
      <a href="#/Conll2000" title="http://w3id.org/meta-share/omtd-share/Conll2000">CoNLL-2000</a>
   </li>
   <li>
      <a href="#/Conll2002" title="http://w3id.org/meta-share/omtd-share/Conll2002">CoNLL-2002</a>
   </li>
   <li>
      <a href="#/Conll2003" title="http://w3id.org/meta-share/omtd-share/Conll2003">CoNLL-2003</a>
   </li>
   <li>
      <a href="#/Conll2006" title="http://w3id.org/meta-share/omtd-share/Conll2006">CoNLL-2006</a>
   </li>
   <li>
      <a href="#/Conll2008" title="http://w3id.org/meta-share/omtd-share/Conll2008">CoNLL-2008</a>
   </li>
   <li>
      <a href="#/Conll2009" title="http://w3id.org/meta-share/omtd-share/Conll2009">CoNLL-2009</a>
   </li>
   <li>
      <a href="#/Conll2012" title="http://w3id.org/meta-share/omtd-share/Conll2012">CoNLL-2012</a>
   </li>
   <li>
      <a href="#/ConllU" title="http://w3id.org/meta-share/omtd-share/ConllU">CoNLL-U</a>
   </li>
   <li>
      <a href="#/ConstituencyParser"
         title="http://w3id.org/meta-share/omtd-share/ConstituencyParser">Constituency parser</a>
   </li>
   <li>
      <a href="#/ConstituencyParsing"
         title="http://w3id.org/meta-share/omtd-share/ConstituencyParsing">Constituency parsing</a>
   </li>
   <li>
      <a href="#/ConstituencyTree"
         title="http://w3id.org/meta-share/omtd-share/ConstituencyTree">Constituency tree</a>
   </li>
   <li>
      <a href="#/Constituent"
         title="http://w3id.org/meta-share/omtd-share/Constituent">Constituent</a>
   </li>
   <li>
      <a href="#/ContentMining"
         title="http://w3id.org/meta-share/omtd-share/ContentMining">Content Mining</a>
   </li>
   <li>
      <a href="#/Contradiction"
         title="http://w3id.org/meta-share/omtd-share/Contradiction">Contradiction</a>
   </li>
   <li>
      <a href="#/ContradictionDetection"
         title="http://w3id.org/meta-share/omtd-share/ContradictionDetection">Contradiction detection</a>
   </li>
   <li>
      <a href="#/ContradictionDetector"
         title="http://w3id.org/meta-share/omtd-share/ContradictionDetector">Contradiction detector</a>
   </li>
   <li>
      <a href="#/Converter" title="http://w3id.org/meta-share/omtd-share/Converter">Converter</a>
   </li>
   <li>
      <a href="#/Coreference"
         title="http://w3id.org/meta-share/omtd-share/Coreference">Coreference</a>
   </li>
   <li>
      <a href="#/CorpusFormat"
         title="http://w3id.org/meta-share/omtd-share/CorpusFormat">Corpus format</a>
   </li>
   <li>
      <a href="#/CorpusViewer"
         title="http://w3id.org/meta-share/omtd-share/CorpusViewer">Corpus viewer</a>
   </li>
   <li>
      <a href="#/CorpusViewing"
         title="http://w3id.org/meta-share/omtd-share/CorpusViewing">Corpus viewing</a>
   </li>
   <li>
      <a href="#/Crawler" title="http://w3id.org/meta-share/omtd-share/Crawler">Crawler</a>
   </li>
   <li>
      <a href="#/Crawling" title="http://w3id.org/meta-share/omtd-share/Crawling">Crawling</a>
   </li>
   <li>
      <a href="#/Crowdsourcing"
         title="http://w3id.org/meta-share/omtd-share/Crowdsourcing">Crowdsourcing</a>
   </li>
   <li>
      <a href="#/CrowdsourcingComponent"
         title="http://w3id.org/meta-share/omtd-share/CrowdsourcingComponent">Crowdsourcing component</a>
   </li>
   <li>
      <a href="#/Csv" title="http://w3id.org/meta-share/omtd-share/Csv">CSV</a>
   </li>
   <li>
      <a href="#/DataCollection"
         title="http://w3id.org/meta-share/omtd-share/DataCollection">Data collection</a>
   </li>
   <li>
      <a href="#/DataCollector"
         title="http://w3id.org/meta-share/omtd-share/DataCollector">Data collector</a>
   </li>
   <li>
      <a href="#/DataFormat"
         title="http://w3id.org/meta-share/omtd-share/DataFormat">Data format</a>
   </li>
   <li>
      <a href="#/DataMerger"
         title="http://w3id.org/meta-share/omtd-share/DataMerger">Data merger</a>
   </li>
   <li>
      <a href="#/DataMerging"
         title="http://w3id.org/meta-share/omtd-share/DataMerging">Data merging</a>
   </li>
   <li>
      <a href="#/DataSplitter"
         title="http://w3id.org/meta-share/omtd-share/DataSplitter">Data splitter</a>
   </li>
   <li>
      <a href="#/DataSplitting"
         title="http://w3id.org/meta-share/omtd-share/DataSplitting">Data splitting</a>
   </li>
   <li>
      <a href="#/DatabaseFormat"
         title="http://w3id.org/meta-share/omtd-share/DatabaseFormat">Database format</a>
   </li>
   <li>
      <a href="#/Datasift_json"
         title="http://w3id.org/meta-share/omtd-share/Datasift_json">DataSift/JSON</a>
   </li>
   <li>
      <a href="#/Date" title="http://w3id.org/meta-share/omtd-share/Date">Date</a>
   </li>
   <li>
      <a href="#/Debugger" title="http://w3id.org/meta-share/omtd-share/Debugger">Debugger</a>
   </li>
   <li>
      <a href="#/Debugging" title="http://w3id.org/meta-share/omtd-share/Debugging">Debugging</a>
   </li>
   <li>
      <a href="#/DecisionTrees"
         title="http://w3id.org/meta-share/omtd-share/DecisionTrees">Decision Trees</a>
   </li>
   <li>
      <a href="#/DeepLearning"
         title="http://w3id.org/meta-share/omtd-share/DeepLearning">Deep Learning</a>
   </li>
   <li>
      <a href="#/Dependency"
         title="http://w3id.org/meta-share/omtd-share/Dependency">Dependency</a>
   </li>
   <li>
      <a href="#/DependencyConversion"
         title="http://w3id.org/meta-share/omtd-share/DependencyConversion">Dependency conversion</a>
   </li>
   <li>
      <a href="#/DependencyConverter"
         title="http://w3id.org/meta-share/omtd-share/DependencyConverter">Dependency converter</a>
   </li>
   <li>
      <a href="#/DependencyParser"
         title="http://w3id.org/meta-share/omtd-share/DependencyParser">Dependency parser</a>
   </li>
   <li>
      <a href="#/DependencyParsing"
         title="http://w3id.org/meta-share/omtd-share/DependencyParsing">Dependency parsing</a>
   </li>
   <li>
      <a href="#/DependencyTree"
         title="http://w3id.org/meta-share/omtd-share/DependencyTree">Dependency tree</a>
   </li>
   <li>
      <a href="#/DerivationalAnalysis"
         title="http://w3id.org/meta-share/omtd-share/DerivationalAnalysis">Derivational Analysis</a>
   </li>
   <li>
      <a href="#/DerivationalFeature"
         title="http://w3id.org/meta-share/omtd-share/DerivationalFeature">Derivational feature</a>
   </li>
   <li>
      <a href="#/DialogueAct"
         title="http://w3id.org/meta-share/omtd-share/DialogueAct">Dialogue act</a>
   </li>
   <li>
      <a href="#/Diaml" title="http://w3id.org/meta-share/omtd-share/Diaml">DIAML</a>
   </li>
   <li>
      <a href="#/DimensionalityReduction"
         title="http://w3id.org/meta-share/omtd-share/DimensionalityReduction">Dimensionality Reduction</a>
   </li>
   <li>
      <a href="#/Disambiguator"
         title="http://w3id.org/meta-share/omtd-share/Disambiguator">Disambiguator</a>
   </li>
   <li>
      <a href="#/DiscourceRelation"
         title="http://w3id.org/meta-share/omtd-share/DiscourceRelation">Discource relation</a>
   </li>
   <li>
      <a href="#/DiscourseAnalysis"
         title="http://w3id.org/meta-share/omtd-share/DiscourseAnalysis">Discourse analysis</a>
   </li>
   <li>
      <a href="#/DiscourseAnnotation"
         title="http://w3id.org/meta-share/omtd-share/DiscourseAnnotation">Discourse annotation</a>
   </li>
   <li>
      <a href="#/DiscourseAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/DiscourseAnnotationType">Discourse annotation type</a>
   </li>
   <li>
      <a href="#/DkproTokenized"
         title="http://w3id.org/meta-share/omtd-share/DkproTokenized">DKPro tokenized</a>
   </li>
   <li>
      <a href="#/DocumentAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/DocumentAnnotationType">Document annotation type</a>
   </li>
   <li>
      <a href="#/DocumentClassifier"
         title="http://w3id.org/meta-share/omtd-share/DocumentClassifier">Document classifier</a>
   </li>
   <li>
      <a href="#/DocumentFormat"
         title="http://w3id.org/meta-share/omtd-share/DocumentFormat">Document format</a>
   </li>
   <li>
      <a href="#/DocumentSection"
         title="http://w3id.org/meta-share/omtd-share/DocumentSection">Document section</a>
   </li>
   <li>
      <a href="#/Domain" title="http://w3id.org/meta-share/omtd-share/Domain">Domain</a>
   </li>
   <li>
      <a href="#/Domain-specificAnnotation"
         title="http://w3id.org/meta-share/omtd-share/Domain-specificAnnotation">Domain-specific annotation type</a>
   </li>
   <li>
      <a href="#/Editing" title="http://w3id.org/meta-share/omtd-share/Editing">Editing</a>
   </li>
   <li>
      <a href="#/Editor" title="http://w3id.org/meta-share/omtd-share/Editor">Editor</a>
   </li>
   <li>
      <a href="#/Emma" title="http://w3id.org/meta-share/omtd-share/Emma">EMMA</a>
   </li>
   <li>
      <a href="#/Emotion" title="http://w3id.org/meta-share/omtd-share/Emotion">Emotion</a>
   </li>
   <li>
      <a href="#/EmotionDetection"
         title="http://w3id.org/meta-share/omtd-share/EmotionDetection">Emotion detection</a>
   </li>
   <li>
      <a href="#/EmotionRecognizer"
         title="http://w3id.org/meta-share/omtd-share/EmotionRecognizer">Emotion recognizer</a>
   </li>
   <li>
      <a href="#/EnsembleMethod"
         title="http://w3id.org/meta-share/omtd-share/EnsembleMethod">Ensemble Method</a>
   </li>
   <li>
      <a href="#/EntityMentionRecognition"
         title="http://w3id.org/meta-share/omtd-share/EntityMentionRecognition">Entity mention recognition</a>
   </li>
   <li>
      <a href="#/EntityMentionPair"
         title="http://w3id.org/meta-share/omtd-share/EntityMentionPair">Entity-Mention pair</a>
   </li>
   <li>
      <a href="#/Evaluation"
         title="http://w3id.org/meta-share/omtd-share/Evaluation">Evaluation</a>
   </li>
   <li>
      <a href="#/Evaluator" title="http://w3id.org/meta-share/omtd-share/Evaluator">Evaluator</a>
   </li>
   <li>
      <a href="#/Event" title="http://w3id.org/meta-share/omtd-share/Event">Event</a>
   </li>
   <li>
      <a href="#/EventDetection"
         title="http://w3id.org/meta-share/omtd-share/EventDetection">Event detection</a>
   </li>
   <li>
      <a href="#/EventExtractor"
         title="http://w3id.org/meta-share/omtd-share/EventExtractor">Event extractor</a>
   </li>
   <li>
      <a href="#/ExploratorySearch"
         title="http://w3id.org/meta-share/omtd-share/ExploratorySearch">Exploratory search</a>
   </li>
   <li>
      <a href="#/ExtractionOfDomainSpecificInformation"
         title="http://w3id.org/meta-share/omtd-share/ExtractionOfDomainSpecificInformation">Extraction of domain-specific information</a>
   </li>
   <li>
      <a href="#/ExtractionOfFundingInformation"
         title="http://w3id.org/meta-share/omtd-share/ExtractionOfFundingInformation">Extraction of funding information</a>
   </li>
   <li>
      <a href="#/FactoredTagLemFormat"
         title="http://w3id.org/meta-share/omtd-share/FactoredTagLemFormat">Factored tag lem format</a>
   </li>
   <li>
      <a href="#/FastInfoset"
         title="http://w3id.org/meta-share/omtd-share/FastInfoset">Fast Infoset</a>
   </li>
   <li>
      <a href="#/FeatureExtraction"
         title="http://w3id.org/meta-share/omtd-share/FeatureExtraction">Feature extraction</a>
   </li>
   <li>
      <a href="#/FeatureExtractor"
         title="http://w3id.org/meta-share/omtd-share/FeatureExtractor">Feature extractor</a>
   </li>
   <li>
      <a href="#/Filter" title="http://w3id.org/meta-share/omtd-share/Filter">Filter</a>
   </li>
   <li>
      <a href="#/FlowControl"
         title="http://w3id.org/meta-share/omtd-share/FlowControl">Flow control</a>
   </li>
   <li>
      <a href="#/FlowController"
         title="http://w3id.org/meta-share/omtd-share/FlowController">Flow controller</a>
   </li>
   <li>
      <a href="#/Folia" title="http://w3id.org/meta-share/omtd-share/Folia">FoLiA</a>
   </li>
   <li>
      <a href="#/FormatConversion"
         title="http://w3id.org/meta-share/omtd-share/FormatConversion">Format conversion</a>
   </li>
   <li>
      <a href="#/Funding" title="http://w3id.org/meta-share/omtd-share/Funding">Funding</a>
   </li>
   <li>
      <a href="#/GateFormat"
         title="http://w3id.org/meta-share/omtd-share/GateFormat">GATE format</a>
   </li>
   <li>
      <a href="#/GateXml" title="http://w3id.org/meta-share/omtd-share/GateXml">GATE XML</a>
   </li>
   <li>
      <a href="#/Gate_json" title="http://w3id.org/meta-share/omtd-share/Gate_json">GATE/JSON</a>
   </li>
   <li>
      <a href="#/GazeteerBasedMatcher"
         title="http://w3id.org/meta-share/omtd-share/GazeteerBasedMatcher">Gazeteer based matcher</a>
   </li>
   <li>
      <a href="#/GazeteerBasedMatching"
         title="http://w3id.org/meta-share/omtd-share/GazeteerBasedMatching">Gazeteer based matching</a>
   </li>
   <li>
      <a href="#/Gene" title="http://w3id.org/meta-share/omtd-share/Gene">Gene</a>
   </li>
   <li>
      <a href="#/GeneFamily"
         title="http://w3id.org/meta-share/omtd-share/GeneFamily">Gene family</a>
   </li>
   <li>
      <a href="#/Generator" title="http://w3id.org/meta-share/omtd-share/Generator">Generator</a>
   </li>
   <li>
      <a href="#/Graf" title="http://w3id.org/meta-share/omtd-share/Graf">GrAF</a>
   </li>
   <li>
      <a href="#/GrammarChecker"
         title="http://w3id.org/meta-share/omtd-share/GrammarChecker">Grammar checker</a>
   </li>
   <li>
      <a href="#/GrapeVariety"
         title="http://w3id.org/meta-share/omtd-share/GrapeVariety">Grape variety</a>
   </li>
   <li>
      <a href="#/Habitat" title="http://w3id.org/meta-share/omtd-share/Habitat">Habitat</a>
   </li>
   <li>
      <a href="#/HistoricalEvent"
         title="http://w3id.org/meta-share/omtd-share/HistoricalEvent">Historical event</a>
   </li>
   <li>
      <a href="#/Html" title="http://w3id.org/meta-share/omtd-share/Html">HTML</a>
   </li>
   <li>
      <a href="#/Html5Microdata"
         title="http://w3id.org/meta-share/omtd-share/Html5Microdata">HTML5 Microdata</a>
   </li>
   <li>
      <a href="#/I2b2" title="http://w3id.org/meta-share/omtd-share/I2b2">I2B2</a>
   </li>
   <li>
      <a href="#/Imscwb" title="http://w3id.org/meta-share/omtd-share/Imscwb">imsCwb</a>
   </li>
   <li>
      <a href="#/InformationExtraction"
         title="http://w3id.org/meta-share/omtd-share/InformationExtraction">Information extraction</a>
   </li>
   <li>
      <a href="#/InformationExtractor"
         title="http://w3id.org/meta-share/omtd-share/InformationExtractor">Information extractor</a>
   </li>
   <li>
      <a href="#/InformationFiltering"
         title="http://w3id.org/meta-share/omtd-share/InformationFiltering">Information filtering</a>
   </li>
   <li>
      <a href="#/InformationFilteringByRecommenderSystems"
         title="http://w3id.org/meta-share/omtd-share/InformationFilteringByRecommenderSystems">Information filtering by recommender systems</a>
   </li>
   <li>
      <a href="#/InformationRetrieval"
         title="http://w3id.org/meta-share/omtd-share/InformationRetrieval">Information retrieval</a>
   </li>
   <li>
      <a href="#/InlineXml" title="http://w3id.org/meta-share/omtd-share/InlineXml">Inline XML</a>
   </li>
   <li>
      <a href="#/InstanceBasedLearning"
         title="http://w3id.org/meta-share/omtd-share/InstanceBasedLearning">Instance-based Learning</a>
   </li>
   <li>
      <a href="#/IonicChannel"
         title="http://w3id.org/meta-share/omtd-share/IonicChannel">Ionic channel</a>
   </li>
   <li>
      <a href="#/IonicConductance"
         title="http://w3id.org/meta-share/omtd-share/IonicConductance">Ionic conductance</a>
   </li>
   <li>
      <a href="#/IonicCurrent"
         title="http://w3id.org/meta-share/omtd-share/IonicCurrent">Ionic current</a>
   </li>
   <li>
      <a href="#/Jdbc" title="http://w3id.org/meta-share/omtd-share/Jdbc">JDBC</a>
   </li>
   <li>
      <a href="#/Json" title="http://w3id.org/meta-share/omtd-share/Json">JSON</a>
   </li>
   <li>
      <a href="#/Json_genia"
         title="http://w3id.org/meta-share/omtd-share/Json_genia">JSON/Genia</a>
   </li>
   <li>
      <a href="#/Json_ld" title="http://w3id.org/meta-share/omtd-share/Json_ld">JSON/LD</a>
   </li>
   <li>
      <a href="#/Kaf" title="http://w3id.org/meta-share/omtd-share/Kaf">KAF</a>
   </li>
   <li>
      <a href="#/KeaCorpus" title="http://w3id.org/meta-share/omtd-share/KeaCorpus">KEA corpus</a>
   </li>
   <li>
      <a href="#/KernelMethod"
         title="http://w3id.org/meta-share/omtd-share/KernelMethod">Kernel Method</a>
   </li>
   <li>
      <a href="#/Keyword" title="http://w3id.org/meta-share/omtd-share/Keyword">Keyword</a>
   </li>
   <li>
      <a href="#/KeywordExtraction"
         title="http://w3id.org/meta-share/omtd-share/KeywordExtraction">Keyword extraction</a>
   </li>
   <li>
      <a href="#/KeywordExtractor"
         title="http://w3id.org/meta-share/omtd-share/KeywordExtractor">Keyword extractor</a>
   </li>
   <li>
      <a href="#/KnowledgeAcquisition"
         title="http://w3id.org/meta-share/omtd-share/KnowledgeAcquisition">Knowledge acquisition</a>
   </li>
   <li>
      <a href="#/KnowledgeDiscovery"
         title="http://w3id.org/meta-share/omtd-share/KnowledgeDiscovery">Knowledge discovery</a>
   </li>
   <li>
      <a href="#/KnowledgeRepresentation"
         title="http://w3id.org/meta-share/omtd-share/KnowledgeRepresentation">Knowledge Representation</a>
   </li>
   <li>
      <a href="#/LanguageIdentification"
         title="http://w3id.org/meta-share/omtd-share/LanguageIdentification">Language Identification</a>
   </li>
   <li>
      <a href="#/LanguageIdentifier"
         title="http://w3id.org/meta-share/omtd-share/LanguageIdentifier">Language identifier</a>
   </li>
   <li>
      <a href="#/LanguageModelling"
         title="http://w3id.org/meta-share/omtd-share/LanguageModelling">Language modelling</a>
   </li>
   <li>
      <a href="#/Latex" title="http://w3id.org/meta-share/omtd-share/Latex">LATEX</a>
   </li>
   <li>
      <a href="#/Lemma" title="http://w3id.org/meta-share/omtd-share/Lemma">Lemma</a>
   </li>
   <li>
      <a href="#/Lemmatization"
         title="http://w3id.org/meta-share/omtd-share/Lemmatization">Lemmatization</a>
   </li>
   <li>
      <a href="#/Lemmatizer"
         title="http://w3id.org/meta-share/omtd-share/Lemmatizer">Lemmatizer</a>
   </li>
   <li>
      <a href="#/LexicalSemanticRelation"
         title="http://w3id.org/meta-share/omtd-share/LexicalSemanticRelation">Lexical semantic relation</a>
   </li>
   <li>
      <a href="#/LexiconAccess"
         title="http://w3id.org/meta-share/omtd-share/LexiconAccess">Lexicon access</a>
   </li>
   <li>
      <a href="#/LexiconAcquisitionFromCorpora"
         title="http://w3id.org/meta-share/omtd-share/LexiconAcquisitionFromCorpora">Lexicon acquisition from corpora</a>
   </li>
   <li>
      <a href="#/LexiconEnhancement"
         title="http://w3id.org/meta-share/omtd-share/LexiconEnhancement">Lexicon enhancement</a>
   </li>
   <li>
      <a href="#/LexiconExtractionFromLexica"
         title="http://w3id.org/meta-share/omtd-share/LexiconExtractionFromLexica">Lexicon extraction from lexica</a>
   </li>
   <li>
      <a href="#/LexiconExtractorFromCorpora"
         title="http://w3id.org/meta-share/omtd-share/LexiconExtractorFromCorpora">Lexicon extractor from corpora</a>
   </li>
   <li>
      <a href="#/LexiconExtractorFromLexica"
         title="http://w3id.org/meta-share/omtd-share/LexiconExtractorFromLexica">Lexicon extractor from lexica</a>
   </li>
   <li>
      <a href="#/LexiconFormatConversion"
         title="http://w3id.org/meta-share/omtd-share/LexiconFormatConversion">Lexicon format conversion</a>
   </li>
   <li>
      <a href="#/LexiconMerging"
         title="http://w3id.org/meta-share/omtd-share/LexiconMerging">Lexicon merging</a>
   </li>
   <li>
      <a href="#/LexiconViewer"
         title="http://w3id.org/meta-share/omtd-share/LexiconViewer">Lexicon viewer</a>
   </li>
   <li>
      <a href="#/LexiconViewing"
         title="http://w3id.org/meta-share/omtd-share/LexiconViewing">Lexicon viewing</a>
   </li>
   <li>
      <a href="#/LexiconVisualization"
         title="http://w3id.org/meta-share/omtd-share/LexiconVisualization">Lexicon visualization</a>
   </li>
   <li>
      <a href="#/LifeSciences"
         title="http://w3id.org/meta-share/omtd-share/LifeSciences">Life sciences</a>
   </li>
   <li>
      <a href="#/LinguisticAnalysis"
         title="http://w3id.org/meta-share/omtd-share/LinguisticAnalysis">Linguistic analysis</a>
   </li>
   <li>
      <a href="#/LinguisticEntity"
         title="http://w3id.org/meta-share/omtd-share/LinguisticEntity">Linguistic entity</a>
   </li>
   <li>
      <a href="#/LinkedDataFormat"
         title="http://w3id.org/meta-share/omtd-share/LinkedDataFormat">Linked data format</a>
   </li>
   <li>
      <a href="#/Lll" title="http://w3id.org/meta-share/omtd-share/Lll">LLL</a>
   </li>
   <li>
      <a href="#/Location" title="http://w3id.org/meta-share/omtd-share/Location">Location</a>
   </li>
   <li>
      <a href="#/MachineAndStatisticalLearningMethod"
         title="http://w3id.org/meta-share/omtd-share/MachineAndStatisticalLearningMethod">Machine and Statistical Learning Method</a>
   </li>
   <li>
      <a href="#/MachineLearningMethod"
         title="http://w3id.org/meta-share/omtd-share/MachineLearningMethod">Machine Learning Method</a>
   </li>
   <li>
      <a href="#/MachineLearningPredictor"
         title="http://w3id.org/meta-share/omtd-share/MachineLearningPredictor">Machine Learning predictor</a>
   </li>
   <li>
      <a href="#/MalletLdaTopicProportions"
         title="http://w3id.org/meta-share/omtd-share/MalletLdaTopicProportions">Mallet LDA Topic Proportions</a>
   </li>
   <li>
      <a href="#/MalletLdaTopicProportionsSorted"
         title="http://w3id.org/meta-share/omtd-share/MalletLdaTopicProportionsSorted">Mallet LDA Topic Proportions Sorted</a>
   </li>
   <li>
      <a href="#/Marker" title="http://w3id.org/meta-share/omtd-share/Marker">Marker</a>
   </li>
   <li>
      <a href="#/Matcher" title="http://w3id.org/meta-share/omtd-share/Matcher">Matcher</a>
   </li>
   <li>
      <a href="#/Matching" title="http://w3id.org/meta-share/omtd-share/Matching">Matching</a>
   </li>
   <li>
      <a href="#/Media" title="http://w3id.org/meta-share/omtd-share/Media">Media</a>
   </li>
   <li>
      <a href="#/MediaWikiMarkup"
         title="http://w3id.org/meta-share/omtd-share/MediaWikiMarkup">Media Wiki markup</a>
   </li>
   <li>
      <a href="#/Metabolite"
         title="http://w3id.org/meta-share/omtd-share/Metabolite">Metabolite</a>
   </li>
   <li>
      <a href="#/MethodOfResearch"
         title="http://w3id.org/meta-share/omtd-share/MethodOfResearch">Method of research</a>
   </li>
   <li>
      <a href="#/Mimetype" title="http://w3id.org/meta-share/omtd-share/Mimetype">Mimetype</a>
   </li>
   <li>
      <a href="#/ModelOrganism_species"
         title="http://w3id.org/meta-share/omtd-share/ModelOrganism_species">Model organism/species</a>
   </li>
   <li>
      <a href="#/MorphologicalAnalysis"
         title="http://w3id.org/meta-share/omtd-share/MorphologicalAnalysis">Morphological Analysis</a>
   </li>
   <li>
      <a href="#/MorphologicalAnnotation"
         title="http://w3id.org/meta-share/omtd-share/MorphologicalAnnotation">Morphological annotation</a>
   </li>
   <li>
      <a href="#/MorphologicalAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/MorphologicalAnnotationType">Morphological annotation type</a>
   </li>
   <li>
      <a href="#/MorphologicalFeature"
         title="http://w3id.org/meta-share/omtd-share/MorphologicalFeature">Morphological feature</a>
   </li>
   <li>
      <a href="#/MorphologicalTagger"
         title="http://w3id.org/meta-share/omtd-share/MorphologicalTagger">Morphological tagger</a>
   </li>
   <li>
      <a href="#/MorphosyntacticTagging"
         title="http://w3id.org/meta-share/omtd-share/MorphosyntacticTagging">Morphosyntactic tagging</a>
   </li>
   <li>
      <a href="#/MsAccessDatabase"
         title="http://w3id.org/meta-share/omtd-share/MsAccessDatabase">MS-Access database</a>
   </li>
   <li>
      <a href="#/MsExcel" title="http://w3id.org/meta-share/omtd-share/MsExcel">MS-Excel</a>
   </li>
   <li>
      <a href="#/MsWord" title="http://w3id.org/meta-share/omtd-share/MsWord">MS-Word</a>
   </li>
   <li>
      <a href="#/MultiWordUnit"
         title="http://w3id.org/meta-share/omtd-share/MultiWordUnit">Multi-word unit</a>
   </li>
   <li>
      <a href="#/Naf" title="http://w3id.org/meta-share/omtd-share/Naf">NAF</a>
   </li>
   <li>
      <a href="#/NamedEntitityRecognizer"
         title="http://w3id.org/meta-share/omtd-share/NamedEntitityRecognizer">Named entitity recognizer</a>
   </li>
   <li>
      <a href="#/NamedEntity"
         title="http://w3id.org/meta-share/omtd-share/NamedEntity">Named entity</a>
   </li>
   <li>
      <a href="#/NamedEntityRecognition"
         title="http://w3id.org/meta-share/omtd-share/NamedEntityRecognition">Named Entity Recognition</a>
   </li>
   <li>
      <a href="#/NegraExport"
         title="http://w3id.org/meta-share/omtd-share/NegraExport">NeGra export</a>
   </li>
   <li>
      <a href="#/Neuron" title="http://w3id.org/meta-share/omtd-share/Neuron">Neuron</a>
   </li>
   <li>
      <a href="#/NeuroscienceEntity"
         title="http://w3id.org/meta-share/omtd-share/NeuroscienceEntity">Neuroscience entity</a>
   </li>
   <li>
      <a href="#/Nif" title="http://w3id.org/meta-share/omtd-share/Nif">NIF</a>
   </li>
   <li>
      <a href="#/Normalization"
         title="http://w3id.org/meta-share/omtd-share/Normalization">Normalization</a>
   </li>
   <li>
      <a href="#/Normalizer"
         title="http://w3id.org/meta-share/omtd-share/Normalizer">Normalizer</a>
   </li>
   <li>
      <a href="#/Obo" title="http://w3id.org/meta-share/omtd-share/Obo">OBO</a>
   </li>
   <li>
      <a href="#/OfficialText"
         title="http://w3id.org/meta-share/omtd-share/OfficialText">Official text</a>
   </li>
   <li>
      <a href="#/OntologyAcquisition"
         title="http://w3id.org/meta-share/omtd-share/OntologyAcquisition">Ontology acquisition</a>
   </li>
   <li>
      <a href="#/OntologyEnhancement"
         title="http://w3id.org/meta-share/omtd-share/OntologyEnhancement">Ontology enhancement</a>
   </li>
   <li>
      <a href="#/Operation" title="http://w3id.org/meta-share/omtd-share/Operation">Operation</a>
   </li>
   <li>
      <a href="#/Organism" title="http://w3id.org/meta-share/omtd-share/Organism">Organism</a>
   </li>
   <li>
      <a href="#/Organization"
         title="http://w3id.org/meta-share/omtd-share/Organization">Organization</a>
   </li>
   <li>
      <a href="#/Owl" title="http://w3id.org/meta-share/omtd-share/Owl">OWL</a>
   </li>
   <li>
      <a href="#/Owl_xml" title="http://w3id.org/meta-share/omtd-share/Owl_xml">OWL/XML</a>
   </li>
   <li>
      <a href="#/Paragraph" title="http://w3id.org/meta-share/omtd-share/Paragraph">Paragraph</a>
   </li>
   <li>
      <a href="#/ParagraphSplitting"
         title="http://w3id.org/meta-share/omtd-share/ParagraphSplitting">Paragraph splitting</a>
   </li>
   <li>
      <a href="#/Paraphrasing"
         title="http://w3id.org/meta-share/omtd-share/Paraphrasing">Paraphrasing</a>
   </li>
   <li>
      <a href="#/Parser" title="http://w3id.org/meta-share/omtd-share/Parser">Parser</a>
   </li>
   <li>
      <a href="#/Parsing" title="http://w3id.org/meta-share/omtd-share/Parsing">Parsing</a>
   </li>
   <li>
      <a href="#/PartOfSpeech"
         title="http://w3id.org/meta-share/omtd-share/PartOfSpeech">Part of Speech</a>
   </li>
   <li>
      <a href="#/PartOfSpeechTagger"
         title="http://w3id.org/meta-share/omtd-share/PartOfSpeechTagger">Part of speech tagger</a>
   </li>
   <li>
      <a href="#/Pdf" title="http://w3id.org/meta-share/omtd-share/Pdf">PDF</a>
   </li>
   <li>
      <a href="#/Person" title="http://w3id.org/meta-share/omtd-share/Person">Person</a>
   </li>
   <li>
      <a href="#/PersuasiveExpression"
         title="http://w3id.org/meta-share/omtd-share/PersuasiveExpression">Persuasive expression</a>
   </li>
   <li>
      <a href="#/PersuasiveExpressionMiner"
         title="http://w3id.org/meta-share/omtd-share/PersuasiveExpressionMiner">Persuasive expression miner</a>
   </li>
   <li>
      <a href="#/PersuasiveExpressionMining"
         title="http://w3id.org/meta-share/omtd-share/PersuasiveExpressionMining">Persuasive expression mining</a>
   </li>
   <li>
      <a href="#/Phenotype" title="http://w3id.org/meta-share/omtd-share/Phenotype">Phenotype</a>
   </li>
   <li>
      <a href="#/Phrase" title="http://w3id.org/meta-share/omtd-share/Phrase">Phrase</a>
   </li>
   <li>
      <a href="#/PhysicoChemicalProperty"
         title="http://w3id.org/meta-share/omtd-share/PhysicoChemicalProperty">Physico-chemical property</a>
   </li>
   <li>
      <a href="#/Pls" title="http://w3id.org/meta-share/omtd-share/Pls">PLS</a>
   </li>
   <li>
      <a href="#/Pml" title="http://w3id.org/meta-share/omtd-share/Pml">PML</a>
   </li>
   <li>
      <a href="#/Polarity" title="http://w3id.org/meta-share/omtd-share/Polarity">Polarity</a>
   </li>
   <li>
      <a href="#/PosTagging"
         title="http://w3id.org/meta-share/omtd-share/PosTagging">PoS Tagging</a>
   </li>
   <li>
      <a href="#/Postscript"
         title="http://w3id.org/meta-share/omtd-share/Postscript">postscript</a>
   </li>
   <li>
      <a href="#/PreOrPostProcessor"
         title="http://w3id.org/meta-share/omtd-share/PreOrPostProcessor">Pre- or Post-Processor</a>
   </li>
   <li>
      <a href="#/Prediction"
         title="http://w3id.org/meta-share/omtd-share/Prediction">Prediction</a>
   </li>
   <li>
      <a href="#/Processor" title="http://w3id.org/meta-share/omtd-share/Processor">Processor</a>
   </li>
   <li>
      <a href="#/Protein" title="http://w3id.org/meta-share/omtd-share/Protein">Protein</a>
   </li>
   <li>
      <a href="#/ProteinFamily"
         title="http://w3id.org/meta-share/omtd-share/ProteinFamily">Protein family</a>
   </li>
   <li>
      <a href="#/Ptb" title="http://w3id.org/meta-share/omtd-share/Ptb">PTB</a>
   </li>
   <li>
      <a href="#/PtbChunked"
         title="http://w3id.org/meta-share/omtd-share/PtbChunked">PTB-chunked</a>
   </li>
   <li>
      <a href="#/PtbCombined"
         title="http://w3id.org/meta-share/omtd-share/PtbCombined">PTB-combined</a>
   </li>
   <li>
      <a href="#/Pubmed" title="http://w3id.org/meta-share/omtd-share/Pubmed">PubMed</a>
   </li>
   <li>
      <a href="#/QuestionAnswering"
         title="http://w3id.org/meta-share/omtd-share/QuestionAnswering">Question Answering</a>
   </li>
   <li>
      <a href="#/QuestionTopicalTarget"
         title="http://w3id.org/meta-share/omtd-share/QuestionTopicalTarget">Question Topical Target</a>
   </li>
   <li>
      <a href="#/RdfFormats"
         title="http://w3id.org/meta-share/omtd-share/RdfFormats">RDF formats</a>
   </li>
   <li>
      <a href="#/Rdf_xml" title="http://w3id.org/meta-share/omtd-share/Rdf_xml">RDF/XML</a>
   </li>
   <li>
      <a href="#/Readability"
         title="http://w3id.org/meta-share/omtd-share/Readability">Readability</a>
   </li>
   <li>
      <a href="#/ReadabilityAnnotator"
         title="http://w3id.org/meta-share/omtd-share/ReadabilityAnnotator">Readability annotator</a>
   </li>
   <li>
      <a href="#/Reader" title="http://w3id.org/meta-share/omtd-share/Reader">Reader</a>
   </li>
   <li>
      <a href="#/Reading" title="http://w3id.org/meta-share/omtd-share/Reading">Reading</a>
   </li>
   <li>
      <a href="#/RecognizingTextualEntailment"
         title="http://w3id.org/meta-share/omtd-share/RecognizingTextualEntailment">Recognizing Textual Entailment</a>
   </li>
   <li>
      <a href="#/RegressionAnalysis"
         title="http://w3id.org/meta-share/omtd-share/RegressionAnalysis">Regression Analysis</a>
   </li>
   <li>
      <a href="#/Regularisation"
         title="http://w3id.org/meta-share/omtd-share/Regularisation">Regularisation</a>
   </li>
   <li>
      <a href="#/Relation" title="http://w3id.org/meta-share/omtd-share/Relation">Relation</a>
   </li>
   <li>
      <a href="#/RelationExtraction"
         title="http://w3id.org/meta-share/omtd-share/RelationExtraction">Relation extraction</a>
   </li>
   <li>
      <a href="#/ResourceAccess"
         title="http://w3id.org/meta-share/omtd-share/ResourceAccess">Resource access</a>
   </li>
   <li>
      <a href="#/Reuters21578Sgml"
         title="http://w3id.org/meta-share/omtd-share/Reuters21578Sgml">Reuters21578 SGML</a>
   </li>
   <li>
      <a href="#/Reuters21578Txt"
         title="http://w3id.org/meta-share/omtd-share/Reuters21578Txt">Reuters21578 Txt</a>
   </li>
   <li>
      <a href="#/Rna" title="http://w3id.org/meta-share/omtd-share/Rna">RNA</a>
   </li>
   <li>
      <a href="#/Rtf" title="http://w3id.org/meta-share/omtd-share/Rtf">RTF</a>
   </li>
   <li>
      <a href="#/RuleBasedMethod"
         title="http://w3id.org/meta-share/omtd-share/RuleBasedMethod">Rule-based Method</a>
   </li>
   <li>
      <a href="#/ScholarlyCommunicationAnnotation"
         title="http://w3id.org/meta-share/omtd-share/ScholarlyCommunicationAnnotation">Scholarly analytics entity</a>
   </li>
   <li>
      <a href="#/ScholarlyCommunication"
         title="http://w3id.org/meta-share/omtd-share/ScholarlyCommunication">Scholarly communication</a>
   </li>
   <li>
      <a href="#/ScientificUnit"
         title="http://w3id.org/meta-share/omtd-share/ScientificUnit">Scientific unit</a>
   </li>
   <li>
      <a href="#/ScientificValue"
         title="http://w3id.org/meta-share/omtd-share/ScientificValue">Scientific value</a>
   </li>
   <li>
      <a href="#/ScriptBasedAnalyser"
         title="http://w3id.org/meta-share/omtd-share/ScriptBasedAnalyser">Script-based analyser</a>
   </li>
   <li>
      <a href="#/ScriptBasedAnalysis"
         title="http://w3id.org/meta-share/omtd-share/ScriptBasedAnalysis">Script-based analysis</a>
   </li>
   <li>
      <a href="#/Segmenter" title="http://w3id.org/meta-share/omtd-share/Segmenter">Segmenter</a>
   </li>
   <li>
      <a href="#/SemanticAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/SemanticAnnotationType">Semantic annotation type</a>
   </li>
   <li>
      <a href="#/SemanticAnnotator"
         title="http://w3id.org/meta-share/omtd-share/SemanticAnnotator">Semantic annotator</a>
   </li>
   <li>
      <a href="#/SemanticClass"
         title="http://w3id.org/meta-share/omtd-share/SemanticClass">Semantic class</a>
   </li>
   <li>
      <a href="#/SemanticFrame"
         title="http://w3id.org/meta-share/omtd-share/SemanticFrame">Semantic frame</a>
   </li>
   <li>
      <a href="#/SemanticRole"
         title="http://w3id.org/meta-share/omtd-share/SemanticRole">Semantic role</a>
   </li>
   <li>
      <a href="#/SemanticSearch"
         title="http://w3id.org/meta-share/omtd-share/SemanticSearch">Semantic search</a>
   </li>
   <li>
      <a href="#/Sentence" title="http://w3id.org/meta-share/omtd-share/Sentence">Sentence</a>
   </li>
   <li>
      <a href="#/SentenceSplitter"
         title="http://w3id.org/meta-share/omtd-share/SentenceSplitter">Sentence splitter</a>
   </li>
   <li>
      <a href="#/SentenceSplitting"
         title="http://w3id.org/meta-share/omtd-share/SentenceSplitting">Sentence splitting</a>
   </li>
   <li>
      <a href="#/Sentiment" title="http://w3id.org/meta-share/omtd-share/Sentiment">Sentiment</a>
   </li>
   <li>
      <a href="#/SentimentAnalysis"
         title="http://w3id.org/meta-share/omtd-share/SentimentAnalysis">Sentiment analysis</a>
   </li>
   <li>
      <a href="#/SentimentAnalyzer"
         title="http://w3id.org/meta-share/omtd-share/SentimentAnalyzer">Sentiment analyzer</a>
   </li>
   <li>
      <a href="#/SerializedCas"
         title="http://w3id.org/meta-share/omtd-share/SerializedCas">Serialized CAS</a>
   </li>
   <li>
      <a href="#/Sgml" title="http://w3id.org/meta-share/omtd-share/Sgml">SGML</a>
   </li>
   <li>
      <a href="#/Simplifier"
         title="http://w3id.org/meta-share/omtd-share/Simplifier">Simplifier</a>
   </li>
   <li>
      <a href="#/SocialSciences"
         title="http://w3id.org/meta-share/omtd-share/SocialSciences">Social sciences</a>
   </li>
   <li>
      <a href="#/SocialSciencesEntity"
         title="http://w3id.org/meta-share/omtd-share/SocialSciencesEntity">Social sciences entity</a>
   </li>
   <li>
      <a href="#/SoftwareDevelopmentEnvironment"
         title="http://w3id.org/meta-share/omtd-share/SoftwareDevelopmentEnvironment">Software development environment</a>
   </li>
   <li>
      <a href="#/Solr" title="http://w3id.org/meta-share/omtd-share/Solr">Solr</a>
   </li>
   <li>
      <a href="#/Species" title="http://w3id.org/meta-share/omtd-share/Species">Species</a>
   </li>
   <li>
      <a href="#/SpectralData"
         title="http://w3id.org/meta-share/omtd-share/SpectralData">Spectral data</a>
   </li>
   <li>
      <a href="#/SpeechAct" title="http://w3id.org/meta-share/omtd-share/SpeechAct">Speech act</a>
   </li>
   <li>
      <a href="#/SpellingChecker"
         title="http://w3id.org/meta-share/omtd-share/SpellingChecker">Spelling checker</a>
   </li>
   <li>
      <a href="#/StatisticalLearningMethod"
         title="http://w3id.org/meta-share/omtd-share/StatisticalLearningMethod">Statistical Learning Method</a>
   </li>
   <li>
      <a href="#/Stem" title="http://w3id.org/meta-share/omtd-share/Stem">Stem</a>
   </li>
   <li>
      <a href="#/Stemmer" title="http://w3id.org/meta-share/omtd-share/Stemmer">Stemmer</a>
   </li>
   <li>
      <a href="#/Stemming" title="http://w3id.org/meta-share/omtd-share/Stemming">Stemming</a>
   </li>
   <li>
      <a href="#/StructuralAnnotation"
         title="http://w3id.org/meta-share/omtd-share/StructuralAnnotation">Structural annotation</a>
   </li>
   <li>
      <a href="#/StructuralAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/StructuralAnnotationType">Structural annotation type</a>
   </li>
   <li>
      <a href="#/SubcategorizationFrame"
         title="http://w3id.org/meta-share/omtd-share/SubcategorizationFrame">Subcategorization frame</a>
   </li>
   <li>
      <a href="#/Subjectivity"
         title="http://w3id.org/meta-share/omtd-share/Subjectivity">Subjectivity</a>
   </li>
   <li>
      <a href="#/Summarization"
         title="http://w3id.org/meta-share/omtd-share/Summarization">Summarization</a>
   </li>
   <li>
      <a href="#/Summarizer"
         title="http://w3id.org/meta-share/omtd-share/Summarizer">Summarizer</a>
   </li>
   <li>
      <a href="#/SupportComponent"
         title="http://w3id.org/meta-share/omtd-share/SupportComponent">Support component</a>
   </li>
   <li>
      <a href="#/SupportOfCrowdsourcingTasks"
         title="http://w3id.org/meta-share/omtd-share/SupportOfCrowdsourcingTasks">Support of crowdsourcing tasks</a>
   </li>
   <li>
      <a href="#/SupportOperation"
         title="http://w3id.org/meta-share/omtd-share/SupportOperation">Support operation</a>
   </li>
   <li>
      <a href="#/SupportOperationForKnowledgeResources"
         title="http://w3id.org/meta-share/omtd-share/SupportOperationForKnowledgeResources">Support operation for knowledge resources</a>
   </li>
   <li>
      <a href="#/Synapse" title="http://w3id.org/meta-share/omtd-share/Synapse">Synapse</a>
   </li>
   <li>
      <a href="#/SyntacticAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/SyntacticAnnotationType">Syntactic annotation type</a>
   </li>
   <li>
      <a href="#/SyntacticoSemanticLink"
         title="http://w3id.org/meta-share/omtd-share/SyntacticoSemanticLink">Syntactico-semantic link</a>
   </li>
   <li>
      <a href="#/TabularFormat"
         title="http://w3id.org/meta-share/omtd-share/TabularFormat">Tabular format</a>
   </li>
   <li>
      <a href="#/Tcf" title="http://w3id.org/meta-share/omtd-share/Tcf">TCF</a>
   </li>
   <li>
      <a href="#/TdmMethod" title="http://w3id.org/meta-share/omtd-share/TdmMethod">TDM Method</a>
   </li>
   <li>
      <a href="#/Tei" title="http://w3id.org/meta-share/omtd-share/Tei">TEI</a>
   </li>
   <li>
      <a href="#/TemporalExpression"
         title="http://w3id.org/meta-share/omtd-share/TemporalExpression">Temporal expression</a>
   </li>
   <li>
      <a href="#/TemporalExpressionRecognition"
         title="http://w3id.org/meta-share/omtd-share/TemporalExpressionRecognition">Temporal expression recognition</a>
   </li>
   <li>
      <a href="#/Term" title="http://w3id.org/meta-share/omtd-share/Term">Term</a>
   </li>
   <li>
      <a href="#/TermExtraction"
         title="http://w3id.org/meta-share/omtd-share/TermExtraction">Term extraction</a>
   </li>
   <li>
      <a href="#/TermExtractor"
         title="http://w3id.org/meta-share/omtd-share/TermExtractor">Term extractor</a>
   </li>
   <li>
      <a href="#/Tex" title="http://w3id.org/meta-share/omtd-share/Tex">TEX</a>
   </li>
   <li>
      <a href="#/Text" title="http://w3id.org/meta-share/omtd-share/Text">Text</a>
   </li>
   <li>
      <a href="#/TextAndDataAnalytics"
         title="http://w3id.org/meta-share/omtd-share/TextAndDataAnalytics">Text and Data Analytics</a>
   </li>
   <li>
      <a href="#/TextAndDataMining"
         title="http://w3id.org/meta-share/omtd-share/TextAndDataMining">Text and Data Mining</a>
   </li>
   <li>
      <a href="#/TextAnnotation"
         title="http://w3id.org/meta-share/omtd-share/TextAnnotation">Text annotation</a>
   </li>
   <li>
      <a href="#/TextCategorization"
         title="http://w3id.org/meta-share/omtd-share/TextCategorization">Text categorization</a>
   </li>
   <li>
      <a href="#/Tgrep2" title="http://w3id.org/meta-share/omtd-share/Tgrep2">TGrep2</a>
   </li>
   <li>
      <a href="#/TheoreticalFrame"
         title="http://w3id.org/meta-share/omtd-share/TheoreticalFrame">Theoretical frame</a>
   </li>
   <li>
      <a href="#/TigerXml" title="http://w3id.org/meta-share/omtd-share/TigerXml">Tiger XML</a>
   </li>
   <li>
      <a href="#/Tmx" title="http://w3id.org/meta-share/omtd-share/Tmx">TMX</a>
   </li>
   <li>
      <a href="#/Token" title="http://w3id.org/meta-share/omtd-share/Token">Token</a>
   </li>
   <li>
      <a href="#/Tokenization"
         title="http://w3id.org/meta-share/omtd-share/Tokenization">Tokenization</a>
   </li>
   <li>
      <a href="#/Tokenizer" title="http://w3id.org/meta-share/omtd-share/Tokenizer">Tokenizer</a>
   </li>
   <li>
      <a href="#/Topic" title="http://w3id.org/meta-share/omtd-share/Topic">Topic</a>
   </li>
   <li>
      <a href="#/TopicDetection"
         title="http://w3id.org/meta-share/omtd-share/TopicDetection">Topic detection</a>
   </li>
   <li>
      <a href="#/TopicExtractor"
         title="http://w3id.org/meta-share/omtd-share/TopicExtractor">Topic extractor</a>
   </li>
   <li>
      <a href="#/TrainerOfMachineLearningModels"
         title="http://w3id.org/meta-share/omtd-share/TrainerOfMachineLearningModels">Trainer of Machine Learning models</a>
   </li>
   <li>
      <a href="#/TrainingOfLanguageModels"
         title="http://w3id.org/meta-share/omtd-share/TrainingOfLanguageModels">Training of language models</a>
   </li>
   <li>
      <a href="#/TrainingOfMachineLearningModels"
         title="http://w3id.org/meta-share/omtd-share/TrainingOfMachineLearningModels">Training of Machine Learning models</a>
   </li>
   <li>
      <a href="#/Tsv" title="http://w3id.org/meta-share/omtd-share/Tsv">TSV</a>
   </li>
   <li>
      <a href="#/Tuepp" title="http://w3id.org/meta-share/omtd-share/Tuepp">Tuepp</a>
   </li>
   <li>
      <a href="#/Turtle" title="http://w3id.org/meta-share/omtd-share/Turtle">Turtle</a>
   </li>
   <li>
      <a href="#/UimaCasFormat"
         title="http://w3id.org/meta-share/omtd-share/UimaCasFormat">UIMA CAS format</a>
   </li>
   <li>
      <a href="#/Uima_json" title="http://w3id.org/meta-share/omtd-share/Uima_json">UIMA/JSON</a>
   </li>
   <li>
      <a href="#/Validation"
         title="http://w3id.org/meta-share/omtd-share/Validation">Validation</a>
   </li>
   <li>
      <a href="#/Validator" title="http://w3id.org/meta-share/omtd-share/Validator">Validator</a>
   </li>
   <li>
      <a href="#/VariablesDectector"
         title="http://w3id.org/meta-share/omtd-share/VariablesDectector">Variables dectector</a>
   </li>
   <li>
      <a href="#/Viewer" title="http://w3id.org/meta-share/omtd-share/Viewer">Viewer</a>
   </li>
   <li>
      <a href="#/Viewing" title="http://w3id.org/meta-share/omtd-share/Viewing">Viewing</a>
   </li>
   <li>
      <a href="#/Visualiser"
         title="http://w3id.org/meta-share/omtd-share/Visualiser">Visualiser</a>
   </li>
   <li>
      <a href="#/Visualization"
         title="http://w3id.org/meta-share/omtd-share/Visualization">Visualization</a>
   </li>
   <li>
      <a href="#/WebAnnotationFormat"
         title="http://w3id.org/meta-share/omtd-share/WebAnnotationFormat">Web annotation format</a>
   </li>
   <li>
      <a href="#/Web1t" title="http://w3id.org/meta-share/omtd-share/Web1t">Web1T</a>
   </li>
   <li>
      <a href="#/WheatRelatedSpecies"
         title="http://w3id.org/meta-share/omtd-share/WheatRelatedSpecies">Wheat-related species</a>
   </li>
   <li>
      <a href="#/WikiFormats"
         title="http://w3id.org/meta-share/omtd-share/WikiFormats">Wiki formats</a>
   </li>
   <li>
      <a href="#/WikipediaArticle"
         title="http://w3id.org/meta-share/omtd-share/WikipediaArticle">Wikipedia article</a>
   </li>
   <li>
      <a href="#/WikipediaArticleInfo"
         title="http://w3id.org/meta-share/omtd-share/WikipediaArticleInfo">Wikipedia article info</a>
   </li>
   <li>
      <a href="#/WikipediaDiscussion"
         title="http://w3id.org/meta-share/omtd-share/WikipediaDiscussion">Wikipedia discussion</a>
   </li>
   <li>
      <a href="#/WikipediaFormat"
         title="http://w3id.org/meta-share/omtd-share/WikipediaFormat">Wikipedia format</a>
   </li>
   <li>
      <a href="#/WikipediaLink"
         title="http://w3id.org/meta-share/omtd-share/WikipediaLink">Wikipedia link</a>
   </li>
   <li>
      <a href="#/WikipediaPage"
         title="http://w3id.org/meta-share/omtd-share/WikipediaPage">Wikipedia page</a>
   </li>
   <li>
      <a href="#/WikipediaQuery"
         title="http://w3id.org/meta-share/omtd-share/WikipediaQuery">Wikipedia query</a>
   </li>
   <li>
      <a href="#/WikipediaRevision"
         title="http://w3id.org/meta-share/omtd-share/WikipediaRevision">Wikipedia revision</a>
   </li>
   <li>
      <a href="#/WikipediaRevisionPair"
         title="http://w3id.org/meta-share/omtd-share/WikipediaRevisionPair">Wikipedia revision pair</a>
   </li>
   <li>
      <a href="#/WikipediaTemplateFilteredArticle"
         title="http://w3id.org/meta-share/omtd-share/WikipediaTemplateFilteredArticle">Wikipedia template filtered article</a>
   </li>
   <li>
      <a href="#/Word" title="http://w3id.org/meta-share/omtd-share/Word">Word</a>
   </li>
   <li>
      <a href="#/WordSegmentation"
         title="http://w3id.org/meta-share/omtd-share/WordSegmentation">Word segmentation</a>
   </li>
   <li>
      <a href="#/WordSense" title="http://w3id.org/meta-share/omtd-share/WordSense">Word sense</a>
   </li>
   <li>
      <a href="#/WordSenseDisambiguation"
         title="http://w3id.org/meta-share/omtd-share/WordSenseDisambiguation">Word Sense Disambiguation</a>
   </li>
   <li>
      <a href="#/WordSenseDisambiguator"
         title="http://w3id.org/meta-share/omtd-share/WordSenseDisambiguator">Word sense disambiguator</a>
   </li>
   <li>
      <a href="#/Writer" title="http://w3id.org/meta-share/omtd-share/Writer">Writer</a>
   </li>
   <li>
      <a href="#/Writing" title="http://w3id.org/meta-share/omtd-share/Writing">Writing</a>
   </li>
   <li>
      <a href="#/Xces" title="http://w3id.org/meta-share/omtd-share/Xces">XCES</a>
   </li>
   <li>
      <a href="#/XcesIlspVariant"
         title="http://w3id.org/meta-share/omtd-share/XcesIlspVariant">XCES ILSP variant</a>
   </li>
   <li>
      <a href="#/Xhtml" title="http://w3id.org/meta-share/omtd-share/Xhtml">XHTML</a>
   </li>
   <li>
      <a href="#/Xmi" title="http://w3id.org/meta-share/omtd-share/Xmi">XMI</a>
   </li>
   <li>
      <a href="#/Xml" title="http://w3id.org/meta-share/omtd-share/Xml">XML</a>
   </li>
   <li>
      <a href="#/XmlBioc" title="http://w3id.org/meta-share/omtd-share/XmlBioc">XML BioC</a>
   </li>
   <li>
      <a href="#/Xpath" title="http://w3id.org/meta-share/omtd-share/Xpath">XPath</a>
   </li>
</ul><h4>Object Properties</h4><ul class="hlist">
   <li>
      <a href="#/deployedInDomain"
         title="http://w3id.org/meta-share/omtd-share/deployedInDomain">deployed in domain</a>
   </li>
   <li>
      <a href="#/hasAnnotationType"
         title="http://w3id.org/meta-share/omtd-share/hasAnnotationType">has annotation type</a>
   </li>
   <li>
      <a href="#/hasMimetype"
         title="http://w3id.org/meta-share/omtd-share/hasMimetype">has mimetype</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2002/07/owl#equivalentClass" title="http://www.w3.org/2002/07/owl#equivalentClass">owl:equivalentClass</a>
   </li>
   <li>
      <a href="#/performsOperation"
         title="http://w3id.org/meta-share/omtd-share/performsOperation">performs Operation</a>
   </li>
</ul><h4>Data Properties</h4><ul class="hlist">
   <li>
      <a href="#/documentationUrl"
         title="http://w3id.org/meta-share/omtd-share/documentationUrl">documentation URL</a>
   </li>
   <li>
      <a href="#/hasFileExtension"
         title="http://w3id.org/meta-share/omtd-share/hasFileExtension">has file extension</a>
   </li>
</ul><h4>Named Individuals</h4><ul class="hlist">
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Div"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Div"> http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Div</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Stem"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Stem"> http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Stem</a>
   </li>
   <li>
      <a href="#/Application_emma_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_emma_xml">application/emma+xml</a>
   </li>
   <li>
      <a href="#/Application_json"
         title="http://w3id.org/meta-share/omtd-share/Application_json">application/json</a>
   </li>
   <li>
      <a href="#/Application_ld_json"
         title="http://w3id.org/meta-share/omtd-share/Application_ld_json">application/ld+json</a>
   </li>
   <li>
      <a href="#/Application_ld_json_profile_http_www_w3_org_ns_anno_jsonld_"
         title="http://w3id.org/meta-share/omtd-share/Application_ld_json_profile_http_www_w3_org_ns_anno_jsonld_">application/ld+json;profile="http://www.w3.org/ns/anno.jsonld"</a>
   </li>
   <li>
      <a href="#/Application_msword"
         title="http://w3id.org/meta-share/omtd-share/Application_msword">application/msword</a>
   </li>
   <li>
      <a href="#/Application_pdf"
         title="http://w3id.org/meta-share/omtd-share/Application_pdf">application/pdf</a>
   </li>
   <li>
      <a href="#/Application_pls_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_pls_xml">application/pls+xml</a>
   </li>
   <li>
      <a href="#/Application_postscript"
         title="http://w3id.org/meta-share/omtd-share/Application_postscript">application/postscript</a>
   </li>
   <li>
      <a href="#/Application_rdf_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_rdf_xml">application/rdf+xml</a>
   </li>
   <li>
      <a href="#/Application_rtf"
         title="http://w3id.org/meta-share/omtd-share/Application_rtf">application/rtf</a>
   </li>
   <li>
      <a href="#/Application_tei_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_tei_xml">application/tei+xml</a>
   </li>
   <li>
      <a href="#/Application_vnd_msExcel"
         title="http://w3id.org/meta-share/omtd-share/Application_vnd_msExcel">application/vnd.ms-excel</a>
   </li>
   <li>
      <a href="#/Application_vnd_msaccess"
         title="http://w3id.org/meta-share/omtd-share/Application_vnd_msaccess">application/vnd.msaccess</a>
   </li>
   <li>
      <a href="#/Application_vnd_xmi_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_vnd_xmi_xml">application/vnd.xmi+xml</a>
   </li>
   <li>
      <a href="#/Application_xLatex"
         title="http://w3id.org/meta-share/omtd-share/Application_xLatex">application/x-latex</a>
   </li>
   <li>
      <a href="#/Application_xMsaccess"
         title="http://w3id.org/meta-share/omtd-share/Application_xMsaccess">application/x-msaccess</a>
   </li>
   <li>
      <a href="#/Application_xTex"
         title="http://w3id.org/meta-share/omtd-share/Application_xTex">application/x-tex</a>
   </li>
   <li>
      <a href="#/Application_xTmx_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_xTmx_xml">application/x-tmx+xml</a>
   </li>
   <li>
      <a href="#/Application_xXces_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_xXces_xml">application/x-xces+xml</a>
   </li>
   <li>
      <a href="#/Application_xXml_alvis"
         title="http://w3id.org/meta-share/omtd-share/Application_xXml_alvis">application/x-xml+alvis</a>
   </li>
   <li>
      <a href="#/Application_x_kaf_json"
         title="http://w3id.org/meta-share/omtd-share/Application_x_kaf_json">application/x.kaf+json</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_graf_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_graf_xml">application/x.org.dkpro.graf+xml</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_negra3"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_negra3">application/x.org.dkpro.negra3</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_negra4"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_negra4">application/x.org.dkpro.negra4</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_reuters21578_sgml"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_reuters21578_sgml">application/x.org.dkpro.reuters21578+sgml</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_tgrep2"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_tgrep2">application/x.org.dkpro.tgrep2</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_tiger_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_tiger_xml">application/x.org.dkpro.tiger+xml</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_tuepp_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_tuepp_xml">application/x.org.dkpro.tuepp+xml</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_uima_binary"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_uima_binary">application/x.org.dkpro.uima+binary</a>
   </li>
   <li>
      <a href="#/Application_x_org_dkpro_uima_json"
         title="http://w3id.org/meta-share/omtd-share/Application_x_org_dkpro_uima_json">application/x.org.dkpro.uima+json</a>
   </li>
   <li>
      <a href="#/Application_xhtml_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_xhtml_xml">application/xhtml+xml</a>
   </li>
   <li>
      <a href="#/Application_xml"
         title="http://w3id.org/meta-share/omtd-share/Application_xml">application/xml</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.morph.MorphologicalFeatures"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.morph.MorphologicalFeatures">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.morph.MorphologicalFeatures</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.pos.POS"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.pos.POS">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.lexmorph.type.pos.POS</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Date"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Date">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Date</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Event"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Event">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Event</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Location"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Location">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Location</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.NamedEntity"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.NamedEntity">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.NamedEntity</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Organization"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Organization">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Organization</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Person"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Person">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.ner.type.Person</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Compound"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Compound">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Compound</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Lemma"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Lemma">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Lemma</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Sentence</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Token"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Token">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.segmentation.type.Token</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticArgument"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticArgument">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticArgument</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticField"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticField">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticField</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticPredicate"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticPredicate">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.SemanticPredicate</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.WordSense"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.WordSense">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.semantics.type.WordSense</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.chunk.Chunk"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.chunk.Chunk">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.chunk.Chunk</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.constituent.Constituent"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.constituent.Constituent">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.constituent.Constituent</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.dependency.Dependency"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.dependency.Dependency">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.api.syntax.type.dependency.Dependency</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.mallet.type.TopicDistribution"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.mallet.type.TopicDistribution">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.mallet.type.TopicDistribution</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.sentiment.type.StanfordSentimentAnnotation"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.sentiment.type.StanfordSentimentAnnotation">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.sentiment.type.StanfordSentimentAnnotation</a>
   </li>
   <li>
      <a href="#http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.type.ReadabilityScore"
         title="http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.type.ReadabilityScore">http://dkpro.github.io/dkpro-core/releases/1.8.0/docs/typesystem-reference.html#de.tudarmstadt.ukp.dkpro.core.type.ReadabilityScore</a>
   </li>
   <li>
      <a href="#/Text_plain"
         title="http://w3id.org/meta-share/omtd-share/Text_plain">
         <span>text plain</span>
      </a>
   </li>
   <li>
      <a href="#/Text_csv" title="http://w3id.org/meta-share/omtd-share/Text_csv">text/csv</a>
   </li>
   <li>
      <a href="#/Text_html"
         title="http://w3id.org/meta-share/omtd-share/Text_html">text/html</a>
   </li>
   <li>
      <a href="#/Text_sgml"
         title="http://w3id.org/meta-share/omtd-share/Text_sgml">text/sgml</a>
   </li>
   <li>
      <a href="#/Text_tabSeparatedValues"
         title="http://w3id.org/meta-share/omtd-share/Text_tabSeparatedValues">text/tab-separated-values</a>
   </li>
   <li>
      <a href="#/Text_tcf_xml"
         title="http://w3id.org/meta-share/omtd-share/Text_tcf_xml">text/tcf+xml</a>
   </li>
   <li>
      <a href="#/Text_turtle"
         title="http://w3id.org/meta-share/omtd-share/Text_turtle">text/turtle</a>
   </li>
   <li>
      <a href="#/Text_xCochrane"
         title="http://w3id.org/meta-share/omtd-share/Text_xCochrane">text/x-cochrane</a>
   </li>
   <li>
      <a href="#/Text_xPubmed"
         title="http://w3id.org/meta-share/omtd-share/Text_xPubmed">text/x-pubmed</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2000"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2000">text/x.org.dkpro.conll-2000</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2002"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2002">text/x.org.dkpro.conll-2002</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2003"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2003">text/x.org.dkpro.conll-2003</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2006"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2006">text/x.org.dkpro.conll-2006</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2008"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2008">text/x.org.dkpro.conll-2008</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2009"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2009">text/x.org.dkpro.conll-2009</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conll2012"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conll2012">text/x.org.dkpro.conll-2012</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_conllU"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_conllU">text/x.org.dkpro.conll-u</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_imscwb"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_imscwb">text/x.org.dkpro.imscwb</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_ngram"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_ngram">text/x.org.dkpro.ngram</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_ptbChunked"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_ptbChunked">text/x.org.dkpro.ptb-chunked</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_ptbCombined"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_ptbCombined">text/x.org.dkpro.ptb-combined</a>
   </li>
   <li>
      <a href="#/Text_x_org_dkpro_reuters21578"
         title="http://w3id.org/meta-share/omtd-share/Text_x_org_dkpro_reuters21578">text/x.org.dkpro.reuters21578</a>
   </li>
   <li>
      <a href="#/Text_xml" title="http://w3id.org/meta-share/omtd-share/Text_xml">text/xml</a>
   </li>
</ul>
