<h2 id="overv" class="list">LexMeta ontology: Overview <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<span class="markdown">
This ontology has the following classes and properties.</span>
<h4>Classes</h4>
<ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/DatasetDistribution"
         title="http://w3id.org/meta-share/meta-share/DatasetDistribution">
         <span>dataset distribution</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Expression" title="http://purl.org/vocab/frbr/core#Expression">
         <span>expression</span>
      </a>
   </li>
   <li>
      <a href="#LCRSeries" title="http://w3id.org/meta-share/lexmeta/LCRSeries">
         <span>LCR Series</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/LexicalConceptualResource"
         title="http://w3id.org/meta-share/meta-share/LexicalConceptualResource">
         <span>lexical conceptual resource</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Manifestation" title="http://purl.org/vocab/frbr/core#Manifestation">
         <span>manifestation</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Work" title="http://purl.org/vocab/frbr/core#Work">
         <span>work</span>
      </a>
   </li>
</ul><h4>Object Properties</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#http://purl.org/ontology/bibo/cites" title="http://purl.org/ontology/bibo/cites">
         <span>cites</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/creator" title="http://purl.org/dc/terms/creator">
         <span>creator</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryAccessType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryAccessType">
         <span>dictionary access type</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryFunctionType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryFunctionType">
         <span>dictionary function type</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryScopeType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryScopeType">
         <span>dictionary scope type</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryTextPart"
         title="http://w3id.org/meta-share/lexmeta/dictionaryTextPart">
         <span>dictionary text part</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/distribution"
         title="http://w3id.org/meta-share/meta-share/distribution">
         <span>distribution</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/distributionForm"
         title="http://w3id.org/meta-share/meta-share/distributionForm">
         <span>distribution form</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/editor" title="http://purl.org/ontology/bibo/editor">
         <span>editor</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasOriginalSource"
         title="http://w3id.org/meta-share/meta-share/hasOriginalSource">
         <span>has original source</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasPart" title="http://w3id.org/meta-share/meta-share/hasPart">
         <span>has part</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasVersion" title="http://w3id.org/meta-share/meta-share/hasVersion">
         <span>has version</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/iprHolder" title="http://w3id.org/meta-share/meta-share/iprHolder">
         <span>ipr holder</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isCombinedWith"
         title="http://w3id.org/meta-share/meta-share/isCombinedWith">
         <span>is combined with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isContinuationOf"
         title="http://w3id.org/meta-share/meta-share/isContinuationOf">
         <span>is continuation of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isContinuedBy"
         title="http://w3id.org/meta-share/meta-share/isContinuedBy">
         <span>is continued by</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isConvertedVersionOf"
         title="http://w3id.org/meta-share/meta-share/isConvertedVersionOf">
         <span>is converted version of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isExactMatchWith"
         title="http://w3id.org/meta-share/meta-share/isExactMatchWith">
         <span>is exact match with</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/isPartOf" title="http://purl.org/dc/terms/isPartOf">
         <span>is part of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isPartOf" title="http://w3id.org/meta-share/meta-share/isPartOf">
         <span>is part of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isPartWith" title="http://w3id.org/meta-share/meta-share/isPartWith">
         <span>is part with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isRelatedToLR"
         title="http://w3id.org/meta-share/meta-share/isRelatedToLR">
         <span>is related to l r</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isReplacedWith"
         title="http://w3id.org/meta-share/meta-share/isReplacedWith">
         <span>is replaced with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isSimilarTo"
         title="http://w3id.org/meta-share/meta-share/isSimilarTo">
         <span>is similar to</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isVersionOf"
         title="http://w3id.org/meta-share/meta-share/isVersionOf">
         <span>is version of</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/language" title="http://purl.org/dc/terms/language">
         <span>language</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/language" title="http://w3id.org/meta-share/meta-share/language">
         <span>language</span>
      </a>
   </li>
   <li>
      <a href="#lemmaType" title="http://w3id.org/meta-share/lexmeta/lemmaType">
         <span>lemma type</span>
      </a>
   </li>
   <li>
      <a href="#lexicographicalProcessType"
         title="http://w3id.org/meta-share/lexmeta/lexicographicalProcessType">
         <span>lexicographical process type</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/lingualityType"
         title="http://w3id.org/meta-share/meta-share/lingualityType">
         <span>linguality type</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/metalanguage"
         title="http://w3id.org/meta-share/meta-share/metalanguage">
         <span>metalanguage</span>
      </a>
   </li>
   <li>
      <a href="#microstructureFeature"
         title="http://w3id.org/meta-share/lexmeta/microstructureFeature">
         <span>microstructure feature</span>
      </a>
   </li>
   <li>
      <a href="#http://iflastandards.info/ns/fr/frbr/frbrer/P3057"
         title="http://iflastandards.info/ns/fr/frbr/frbrer/P3057">
         <span>p3057</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/presentedAt" title="http://purl.org/ontology/bibo/presentedAt">
         <span>presented at</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/publisher" title="http://purl.org/dc/terms/publisher">
         <span>publisher</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/replaces" title="http://w3id.org/meta-share/meta-share/replaces">
         <span>replaces</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceCreator"
         title="http://w3id.org/meta-share/meta-share/resourceCreator">
         <span>resource creator</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceProvider"
         title="http://w3id.org/meta-share/meta-share/resourceProvider">
         <span>resource provider</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/reviewOf" title="http://purl.org/ontology/bibo/reviewOf">
         <span>review of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/sourceLanguage"
         title="http://w3id.org/meta-share/meta-share/sourceLanguage">
         <span>source language</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/subject" title="http://purl.org/dc/terms/subject">
         <span>subject</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/targetLanguage"
         title="http://w3id.org/meta-share/meta-share/targetLanguage">
         <span>target language</span>
      </a>
   </li>
</ul><h4>Data Properties</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#https://schema.org/bookEdition" title="https://schema.org/bookEdition">
         <span>book edition</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/date" title="http://purl.org/dc/terms/date">
         <span>date</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/issue" title="http://purl.org/ontology/bibo/issue">
         <span>issue</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/pages" title="http://purl.org/ontology/bibo/pages">
         <span>pages</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceName"
         title="http://w3id.org/meta-share/meta-share/resourceName">
         <span>resource name</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/shortTitle" title="http://purl.org/ontology/bibo/shortTitle">
         <span>short title</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/title" title="http://purl.org/dc/terms/title">
         <span>title</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/volume" title="http://purl.org/ontology/bibo/volume">
         <span>volume</span>
      </a>
   </li>
</ul><h4>Named Individuals</h4><ul xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" class="hlist">
   <li>
      <a href="#abbreviation" title="http://w3id.org/meta-share/lexmeta/abbreviation">abbreviation</a>
   </li>
   <li>
      <a href="#abbreviationsDictionary"
         title="http://w3id.org/meta-share/lexmeta/abbreviationsDictionary">abbreviations dictionary</a>
   </li>
   <li>
      <a href="#academicDictionary"
         title="http://w3id.org/meta-share/lexmeta/academicDictionary">academic dictionary</a>
   </li>
   <li>
      <a href="#accentuation" title="http://w3id.org/meta-share/lexmeta/accentuation">accentuation</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/accessLocation"
         title="http://w3id.org/meta-share/meta-share/accessLocation">
         <span>access location</span>
      </a>
   </li>
   <li>
      <a href="#AccessStructureTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/AccessStructureTypeScheme">Access Structure Type</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/Actor" title="http://w3id.org/meta-share/meta-share/Actor">
         <span>actor</span>
      </a>
   </li>
   <li>
      <a href="#analogicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/analogicalDictionary">analogical dictionary</a>
   </li>
   <li>
      <a href="#analogiesDictionary"
         title="http://w3id.org/meta-share/lexmeta/analogiesDictionary">analogies dictionary</a>
   </li>
   <li>
      <a href="#analyticalDefinition"
         title="http://w3id.org/meta-share/lexmeta/analyticalDefinition">analytical definition</a>
   </li>
   <li>
      <a href="#antedating" title="http://w3id.org/meta-share/lexmeta/antedating">antedating</a>
   </li>
   <li>
      <a href="#antonym" title="http://w3id.org/meta-share/lexmeta/antonym">antonym</a>
   </li>
   <li>
      <a href="#antonymDictionary"
         title="http://w3id.org/meta-share/lexmeta/antonymDictionary">antonym dictionary</a>
   </li>
   <li>
      <a href="#archaismsDictionary"
         title="http://w3id.org/meta-share/lexmeta/archaismsDictionary">archaisms dictionary</a>
   </li>
   <li>
      <a href="#argumentStructure"
         title="http://w3id.org/meta-share/lexmeta/argumentStructure">argument structure</a>
   </li>
   <li>
      <a href="#aspect" title="http://w3id.org/meta-share/lexmeta/aspect">aspect</a>
   </li>
   <li>
      <a href="#attestationsDictionary"
         title="http://w3id.org/meta-share/lexmeta/attestationsDictionary">attestations dictionary</a>
   </li>
   <li>
      <a href="#audioContent" title="http://w3id.org/meta-share/lexmeta/audioContent">audio content</a>
   </li>
   <li>
      <a href="#authorDictionary"
         title="http://w3id.org/meta-share/lexmeta/authorDictionary">author dictionary</a>
   </li>
   <li>
      <a href="#auxiliary" title="http://w3id.org/meta-share/lexmeta/auxiliary">auxiliary</a>
   </li>
   <li>
      <a href="#backMatter" title="http://w3id.org/meta-share/lexmeta/backMatter">back matter</a>
   </li>
   <li>
      <a href="#basicVocabularyDictionary"
         title="http://w3id.org/meta-share/lexmeta/basicVocabularyDictionary">basic vocabulary dictionary</a>
   </li>
   <li>
      <a href="#bilingualDictionary"
         title="http://w3id.org/meta-share/lexmeta/bilingualDictionary">bilingual dictionary</a>
   </li>
   <li>
      <a href="#bilingualizedDictionary"
         title="http://w3id.org/meta-share/lexmeta/bilingualizedDictionary">bilingualized dictionary</a>
   </li>
   <li>
      <a href="#bogey" title="http://w3id.org/meta-share/lexmeta/bogey">bogey</a>
   </li>
   <li>
      <a href="#https://schema.org/bookEdition" title="https://schema.org/bookEdition">
         <span>book edition</span>
      </a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#broader" title="http://www.w3.org/2004/02/skos/core#broader">
         <span>broader</span>
      </a>
   </li>
   <li>
      <a href="#calque" title="http://w3id.org/meta-share/lexmeta/calque">calque</a>
   </li>
   <li>
      <a href="#case" title="http://w3id.org/meta-share/lexmeta/case">case</a>
   </li>
   <li>
      <a href="#catchword" title="http://w3id.org/meta-share/lexmeta/catchword">catchword</a>
   </li>
   <li>
      <a href="#cdRom" title="http://w3id.org/meta-share/lexmeta/cdRom">CD-ROM</a>
   </li>
   <li>
      <a href="#centralList" title="http://w3id.org/meta-share/lexmeta/centralList">central list</a>
   </li>
   <li>
      <a href="#childrensDictionary"
         title="http://w3id.org/meta-share/lexmeta/childrensDictionary">children's dictionary</a>
   </li>
   <li>
      <a href="#chronologicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/chronologicalDictionary">chronological dictionary</a>
   </li>
   <li>
      <a href="#citation" title="http://w3id.org/meta-share/lexmeta/citation">citation</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/cites" title="http://purl.org/ontology/bibo/cites">
         <span>cites</span>
      </a>
   </li>
   <li>
      <a href="#classificatoryLabel"
         title="http://w3id.org/meta-share/lexmeta/classificatoryLabel">classificatory label</a>
   </li>
   <li>
      <a href="#cliticForm" title="http://w3id.org/meta-share/lexmeta/cliticForm">clitic form</a>
   </li>
   <li>
      <a href="#cognitiveFunction"
         title="http://w3id.org/meta-share/lexmeta/cognitiveFunction">cognitive function</a>
   </li>
   <li>
      <a href="#collaborativeDictionary"
         title="http://w3id.org/meta-share/lexmeta/collaborativeDictionary">collaborative dictionary</a>
   </li>
   <li>
      <a href="#collegeDictionary"
         title="http://w3id.org/meta-share/lexmeta/collegeDictionary">college dictionary</a>
   </li>
   <li>
      <a href="#collocation" title="http://w3id.org/meta-share/lexmeta/collocation">collocation</a>
   </li>
   <li>
      <a href="#collocationsDictionary"
         title="http://w3id.org/meta-share/lexmeta/collocationsDictionary">collocations dictionary</a>
   </li>
   <li>
      <a href="#collocator" title="http://w3id.org/meta-share/lexmeta/collocator">collocator</a>
   </li>
   <li>
      <a href="#colloquial" title="http://w3id.org/meta-share/lexmeta/colloquial">colloquial</a>
   </li>
   <li>
      <a href="#communicativeFunction"
         title="http://w3id.org/meta-share/lexmeta/communicativeFunction">communicative function</a>
   </li>
   <li>
      <a href="#competenceExample"
         title="http://w3id.org/meta-share/lexmeta/competenceExample">competence example</a>
   </li>
   <li>
      <a href="#compound" title="http://w3id.org/meta-share/lexmeta/compound">compound</a>
   </li>
   <li>
      <a href="#compoundWord" title="http://w3id.org/meta-share/lexmeta/compoundWord">compound word</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/Conference" title="http://purl.org/ontology/bibo/Conference">
         <span>conference</span>
      </a>
   </li>
   <li>
      <a href="#connotation" title="http://w3id.org/meta-share/lexmeta/connotation">connotation</a>
   </li>
   <li>
      <a href="#context" title="http://w3id.org/meta-share/lexmeta/context">context</a>
   </li>
   <li>
      <a href="#coocurrent" title="http://w3id.org/meta-share/lexmeta/coocurrent">coocurrent</a>
   </li>
   <li>
      <a href="#countability" title="http://w3id.org/meta-share/lexmeta/countability">countability</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/creator" title="http://purl.org/dc/terms/creator">
         <span>creator</span>
      </a>
   </li>
   <li>
      <a href="#crossReference"
         title="http://w3id.org/meta-share/lexmeta/crossReference">cross-reference</a>
   </li>
   <li>
      <a href="#crosswordPuzzleDictionary"
         title="http://w3id.org/meta-share/lexmeta/crosswordPuzzleDictionary">crossword puzzle dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/DatasetDistribution"
         title="http://w3id.org/meta-share/meta-share/DatasetDistribution">
         <span>dataset distribution</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/DatasetDistributionForm"
         title="http://w3id.org/meta-share/meta-share/DatasetDistributionForm">
         <span>dataset distribution form</span>
      </a>
   </li>
   <li>
      <a href="#http://www.w3.org/ns/dcat#DatasetSeries" title="http://www.w3.org/ns/dcat#DatasetSeries">
         <span>dataset series</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/date" title="http://purl.org/dc/terms/date">
         <span>date</span>
      </a>
   </li>
   <li>
      <a href="#definingVocabulary"
         title="http://w3id.org/meta-share/lexmeta/definingVocabulary">defining vocabulary</a>
   </li>
   <li>
      <a href="#definition" title="http://w3id.org/meta-share/lexmeta/definition">definition</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#definition" title="http://www.w3.org/2004/02/skos/core#definition">
         <span>definition</span>
      </a>
   </li>
   <li>
      <a href="#degree" title="http://w3id.org/meta-share/lexmeta/degree">degree</a>
   </li>
   <li>
      <a href="#denotation" title="http://w3id.org/meta-share/lexmeta/denotation">denotation</a>
   </li>
   <li>
      <a href="#derivation" title="http://w3id.org/meta-share/lexmeta/derivation">derivation</a>
   </li>
   <li>
      <a href="#derivative" title="http://w3id.org/meta-share/lexmeta/derivative">derivative</a>
   </li>
   <li>
      <a href="#descriptiveDictionary"
         title="http://w3id.org/meta-share/lexmeta/descriptiveDictionary">descriptive dictionary</a>
   </li>
   <li>
      <a href="#designatum" title="http://w3id.org/meta-share/lexmeta/designatum">designatum</a>
   </li>
   <li>
      <a href="#diacritic" title="http://w3id.org/meta-share/lexmeta/diacritic">diacritic</a>
   </li>
   <li>
      <a href="#dialect" title="http://w3id.org/meta-share/lexmeta/dialect">dialect</a>
   </li>
   <li>
      <a href="#dialectDictionary"
         title="http://w3id.org/meta-share/lexmeta/dialectDictionary">dialect dictionary</a>
   </li>
   <li>
      <a href="#dialectLabel" title="http://w3id.org/meta-share/lexmeta/dialectLabel">dialect label</a>
   </li>
   <li>
      <a href="#dictionaryAccessType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryAccessType">
         <span>dictionary access type</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryAccessibleThroughInterface"
         title="http://w3id.org/meta-share/lexmeta/dictionaryAccessibleThroughInterface">dictionary accessible through interface</a>
   </li>
   <li>
      <a href="#dictionaryApp"
         title="http://w3id.org/meta-share/lexmeta/dictionaryApp">dictionary app</a>
   </li>
   <li>
      <a href="#dictionaryBookPublication"
         title="http://w3id.org/meta-share/lexmeta/dictionaryBookPublication">dictionary book publication</a>
   </li>
   <li>
      <a href="#dictionaryEntry"
         title="http://w3id.org/meta-share/lexmeta/dictionaryEntry">dictionary entry</a>
   </li>
   <li>
      <a href="#DictionaryFunctionTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/DictionaryFunctionTypeScheme">Dictionary Function Type</a>
   </li>
   <li>
      <a href="#dictionaryFunctionType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryFunctionType">
         <span>dictionary function type</span>
      </a>
   </li>
   <li>
      <a href="#dictionaryOfASemanticDomain"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfASemanticDomain">dictionary of a semantic domain</a>
   </li>
   <li>
      <a href="#dictionaryOfASynchronicStage"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfASynchronicStage">dictionary of a synchronic stage</a>
   </li>
   <li>
      <a href="#dictionaryOfAnglicisms"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfAnglicisms">dictionary of anglicisms</a>
   </li>
   <li>
      <a href="#dictionaryOfDifficultWords"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfDifficultWords">dictionary of difficult words</a>
   </li>
   <li>
      <a href="#dictionaryOfDisappearedWords"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfDisappearedWords">dictionary of disappeared words</a>
   </li>
   <li>
      <a href="#dictionaryOfGraphicCharacters"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfGraphicCharacters">dictionary of graphic characters</a>
   </li>
   <li>
      <a href="#dictionaryOfYouthLanguage"
         title="http://w3id.org/meta-share/lexmeta/dictionaryOfYouthLanguage">dictionary of youth language</a>
   </li>
   <li>
      <a href="#dictionaryPortal"
         title="http://w3id.org/meta-share/lexmeta/dictionaryPortal">dictionary portal</a>
   </li>
   <li>
      <a href="#DictionaryScopeTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/DictionaryScopeTypeScheme">Dictionary Scope</a>
   </li>
   <li>
      <a href="#dictionaryScope"
         title="http://w3id.org/meta-share/lexmeta/dictionaryScope">dictionary scope</a>
   </li>
   <li>
      <a href="#dictionaryScopeType"
         title="http://w3id.org/meta-share/lexmeta/dictionaryScopeType">
         <span>dictionary scope type</span>
      </a>
   </li>
   <li>
      <a href="#DictionaryTextPartScheme"
         title="http://w3id.org/meta-share/lexmeta/DictionaryTextPartScheme">Dictionary Text Part</a>
   </li>
   <li>
      <a href="#dictionaryTextPart"
         title="http://w3id.org/meta-share/lexmeta/dictionaryTextPart">
         <span>dictionary text part</span>
      </a>
   </li>
   <li>
      <a href="#differentia" title="http://w3id.org/meta-share/lexmeta/differentia">differentia</a>
   </li>
   <li>
      <a href="#difficultiesDictionary"
         title="http://w3id.org/meta-share/lexmeta/difficultiesDictionary">difficulties dictionary</a>
   </li>
   <li>
      <a href="#digitisedDictionary"
         title="http://w3id.org/meta-share/lexmeta/digitisedDictionary">digitised dictionary</a>
   </li>
   <li>
      <a href="#directEntry" title="http://w3id.org/meta-share/lexmeta/directEntry">direct entry</a>
   </li>
   <li>
      <a href="#directSense" title="http://w3id.org/meta-share/lexmeta/directSense">direct sense</a>
   </li>
   <li>
      <a href="#discourseDictionary"
         title="http://w3id.org/meta-share/lexmeta/discourseDictionary">discourse dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/distribution"
         title="http://w3id.org/meta-share/meta-share/distribution">
         <span>distribution</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/distributionForm"
         title="http://w3id.org/meta-share/meta-share/distributionForm">
         <span>distribution form</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/distributionLocation"
         title="http://w3id.org/meta-share/meta-share/distributionLocation">
         <span>distribution location</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/Document" title="http://purl.org/ontology/bibo/Document">
         <span>document</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/doi" title="http://purl.org/ontology/bibo/doi">
         <span>doi</span>
      </a>
   </li>
   <li>
      <a href="#domainIndication"
         title="http://w3id.org/meta-share/lexmeta/domainIndication">domain indication</a>
   </li>
   <li>
      <a href="#fieldLabel" title="http://w3id.org/meta-share/lexmeta/fieldLabel">domain label</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/downloadLocation"
         title="http://w3id.org/meta-share/meta-share/downloadLocation">
         <span>download location</span>
      </a>
   </li>
   <li>
      <a href="#downloadableDictionary"
         title="http://w3id.org/meta-share/lexmeta/downloadableDictionary">downloadable dictionary</a>
   </li>
   <li>
      <a href="#duplicatesDictionary"
         title="http://w3id.org/meta-share/lexmeta/duplicatesDictionary">duplicates dictionary</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/editor" title="http://purl.org/ontology/bibo/editor">
         <span>editor</span>
      </a>
   </li>
   <li>
      <a href="#electronicDictionary"
         title="http://w3id.org/meta-share/lexmeta/electronicDictionary">electronic dictionary</a>
   </li>
   <li>
      <a href="#encyclopaedicDictionary"
         title="http://w3id.org/meta-share/lexmeta/encyclopaedicDictionary">encyclopaedic dictionary</a>
   </li>
   <li>
      <a href="#encyclopedicDefinition"
         title="http://w3id.org/meta-share/lexmeta/encyclopedicDefinition">encyclopedic definition</a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Endeavour" title="http://purl.org/vocab/frbr/core#Endeavour">
         <span>endeavour</span>
      </a>
   </li>
   <li>
      <a href="#entryBlock" title="http://w3id.org/meta-share/lexmeta/entryBlock">entry block</a>
   </li>
   <li>
      <a href="#entryLayoutFeature"
         title="http://w3id.org/meta-share/lexmeta/entryLayoutFeature">entry layout feature</a>
   </li>
   <li>
      <a href="#entryLine" title="http://w3id.org/meta-share/lexmeta/entryLine">entry line</a>
   </li>
   <li>
      <a href="#eponymsDictionary"
         title="http://w3id.org/meta-share/lexmeta/eponymsDictionary">eponyms dictionary</a>
   </li>
   <li>
      <a href="#etymologicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/etymologicalDictionary">etymological dictionary</a>
   </li>
   <li>
      <a href="#etymologicalInformation"
         title="http://w3id.org/meta-share/lexmeta/etymologicalInformation">etymological information</a>
   </li>
   <li>
      <a href="#etymology" title="http://w3id.org/meta-share/lexmeta/etymology">etymology</a>
   </li>
   <li>
      <a href="#euphemismsDictionary"
         title="http://w3id.org/meta-share/lexmeta/euphemismsDictionary">euphemisms dictionary</a>
   </li>
   <li>
      <a href="#eventType" title="http://w3id.org/meta-share/lexmeta/eventType">event type</a>
   </li>
   <li>
      <a href="#example" title="http://w3id.org/meta-share/lexmeta/example">example</a>
   </li>
   <li>
      <a href="#exampleSentence"
         title="http://w3id.org/meta-share/lexmeta/exampleSentence">example sentence</a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Expression" title="http://purl.org/vocab/frbr/core#Expression">
         <span>expression</span>
      </a>
   </li>
   <li>
      <a href="#falseFriendsDictionary"
         title="http://w3id.org/meta-share/lexmeta/falseFriendsDictionary">false friends dictionary</a>
   </li>
   <li>
      <a href="#fascicle" title="http://w3id.org/meta-share/lexmeta/fascicle">fascicle</a>
   </li>
   <li>
      <a href="#figurative" title="http://w3id.org/meta-share/lexmeta/figurative">figurative</a>
   </li>
   <li>
      <a href="#fixedExpression"
         title="http://w3id.org/meta-share/lexmeta/fixedExpression">fixed expression</a>
   </li>
   <li>
      <a href="#formalInformation"
         title="http://w3id.org/meta-share/lexmeta/formalInformation">formal information</a>
   </li>
   <li>
      <a href="#formulaicDefinition"
         title="http://w3id.org/meta-share/lexmeta/formulaicDefinition">formulaic definition</a>
   </li>
   <li>
      <a href="#frequency" title="http://w3id.org/meta-share/lexmeta/frequency">frequency</a>
   </li>
   <li>
      <a href="#frequencyDictionary"
         title="http://w3id.org/meta-share/lexmeta/frequencyDictionary">frequency dictionary</a>
   </li>
   <li>
      <a href="#frontMatter" title="http://w3id.org/meta-share/lexmeta/frontMatter">front matter</a>
   </li>
   <li>
      <a href="#gender" title="http://w3id.org/meta-share/lexmeta/gender">gender</a>
   </li>
   <li>
      <a href="#generalDictionary"
         title="http://w3id.org/meta-share/lexmeta/generalDictionary">general dictionary</a>
   </li>
   <li>
      <a href="#geography" title="http://w3id.org/meta-share/lexmeta/geography">geography</a>
   </li>
   <li>
      <a href="#gloss" title="http://w3id.org/meta-share/lexmeta/gloss">gloss</a>
   </li>
   <li>
      <a href="#grammarDictionary"
         title="http://w3id.org/meta-share/lexmeta/grammarDictionary">grammar dictionary</a>
   </li>
   <li>
      <a href="#guideWord" title="http://w3id.org/meta-share/lexmeta/guideWord">guide word</a>
   </li>
   <li>
      <a href="#hardWord" title="http://w3id.org/meta-share/lexmeta/hardWord">hard word</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasOriginalSource"
         title="http://w3id.org/meta-share/meta-share/hasOriginalSource">
         <span>has original source</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasPart" title="http://w3id.org/meta-share/meta-share/hasPart">
         <span>has part</span>
      </a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#hasTopConcept"
         title="http://www.w3.org/2004/02/skos/core#hasTopConcept">
         <span>has top concept</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/hasVersion"
         title="http://w3id.org/meta-share/meta-share/hasVersion">
         <span>has version</span>
      </a>
   </li>
   <li>
      <a href="#historicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/historicalDictionary">historical dictionary</a>
   </li>
   <li>
      <a href="#http://xmlns.com/foaf/0.1/homepage" title="http://xmlns.com/foaf/0.1/homepage">
         <span>homepage</span>
      </a>
   </li>
   <li>
      <a href="#homographDictionary"
         title="http://w3id.org/meta-share/lexmeta/homographDictionary">homograph dictionary</a>
   </li>
   <li>
      <a href="#homonymDictionary"
         title="http://w3id.org/meta-share/lexmeta/homonymDictionary">homonym dictionary</a>
   </li>
   <li>
      <a href="#homophoneDictionary"
         title="http://w3id.org/meta-share/lexmeta/homophoneDictionary">homophone dictionary</a>
   </li>
   <li>
      <a href="#humorousDictionary"
         title="http://w3id.org/meta-share/lexmeta/humorousDictionary">humorous dictionary</a>
   </li>
   <li>
      <a href="#hyperonym" title="http://w3id.org/meta-share/lexmeta/hyperonym">hyperonym</a>
   </li>
   <li>
      <a href="#hyphenation" title="http://w3id.org/meta-share/lexmeta/hyphenation">hyphenation</a>
   </li>
   <li>
      <a href="#hyponym" title="http://w3id.org/meta-share/lexmeta/hyponym">hyponym</a>
   </li>
   <li>
      <a href="#idiom" title="http://w3id.org/meta-share/lexmeta/idiom">idiom</a>
   </li>
   <li>
      <a href="#idiomsDictionary"
         title="http://w3id.org/meta-share/lexmeta/idiomsDictionary">idioms dictionary</a>
   </li>
   <li>
      <a href="#illustration"
         title="http://w3id.org/meta-share/lexmeta/illustration">illustration</a>
   </li>
   <li>
      <a href="#imageDictionary"
         title="http://w3id.org/meta-share/lexmeta/imageDictionary">image dictionary</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2004/02/skos/core#inScheme" title="http://www.w3.org/2004/02/skos/core#inScheme">
         <span>in scheme</span>
      </a>
   </li>
   <li>
      <a href="#indexEntry" title="http://w3id.org/meta-share/lexmeta/indexEntry">index entry</a>
   </li>
   <li>
      <a href="#inflection" title="http://w3id.org/meta-share/lexmeta/inflection">inflection</a>
   </li>
   <li>
      <a href="#inflectionDictionary"
         title="http://w3id.org/meta-share/lexmeta/inflectionDictionary">inflection dictionary</a>
   </li>
   <li>
      <a href="#inflectionMorphology"
         title="http://w3id.org/meta-share/lexmeta/inflectionMorphology">inflection morphology</a>
   </li>
   <li>
      <a href="#informationTypeOrientedDictionary"
         title="http://w3id.org/meta-share/lexmeta/informationTypeOrientedDictionary">information type oriented dictionary</a>
   </li>
   <li>
      <a href="#inkhornTerm" title="http://w3id.org/meta-share/lexmeta/inkhornTerm">inkhorn term</a>
   </li>
   <li>
      <a href="#intentionalDefinition"
         title="http://w3id.org/meta-share/lexmeta/intentionalDefinition">intentional definition</a>
   </li>
   <li>
      <a href="#internationalPhoneticAlphabet"
         title="http://w3id.org/meta-share/lexmeta/internationalPhoneticAlphabet">international phonetic alphabet</a>
   </li>
   <li>
      <a href="#internationalismsDictionary"
         title="http://w3id.org/meta-share/lexmeta/internationalismsDictionary">internationalisms dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/iprHolder"
         title="http://w3id.org/meta-share/meta-share/iprHolder">
         <span>ipr holder</span>
      </a>
   </li>
   <li>
      <a href="#irregularForm"
         title="http://w3id.org/meta-share/lexmeta/irregularForm">irregular form</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isCombinedWith"
         title="http://w3id.org/meta-share/meta-share/isCombinedWith">
         <span>is combined with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isContinuationOf"
         title="http://w3id.org/meta-share/meta-share/isContinuationOf">
         <span>is continuation of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isContinuedBy"
         title="http://w3id.org/meta-share/meta-share/isContinuedBy">
         <span>is continued by</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isConvertedVersionOf"
         title="http://w3id.org/meta-share/meta-share/isConvertedVersionOf">
         <span>is converted version of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isExactMatchWith"
         title="http://w3id.org/meta-share/meta-share/isExactMatchWith">
         <span>is exact match with</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/isPartOf" title="http://purl.org/dc/terms/isPartOf">
         <span>is part of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isPartOf" title="http://w3id.org/meta-share/meta-share/isPartOf">
         <span>is part of</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isPartWith"
         title="http://w3id.org/meta-share/meta-share/isPartWith">
         <span>is part with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isRelatedToLR"
         title="http://w3id.org/meta-share/meta-share/isRelatedToLR">
         <span>is related to l r</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isReplacedWith"
         title="http://w3id.org/meta-share/meta-share/isReplacedWith">
         <span>is replaced with</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isSimilarTo"
         title="http://w3id.org/meta-share/meta-share/isSimilarTo">
         <span>is similar to</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/isVersionOf"
         title="http://w3id.org/meta-share/meta-share/isVersionOf">
         <span>is version of</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/isbn10" title="http://purl.org/ontology/bibo/isbn10">
         <span>isbn10</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/isbn13" title="http://purl.org/ontology/bibo/isbn13">
         <span>isbn13</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/issn" title="http://purl.org/ontology/bibo/issn">
         <span>issn</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/issue" title="http://purl.org/ontology/bibo/issue">
         <span>issue</span>
      </a>
   </li>
   <li>
      <a href="#label" title="http://w3id.org/meta-share/lexmeta/label">label</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/language" title="http://purl.org/dc/terms/language">
         <span>language</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/language" title="http://w3id.org/meta-share/meta-share/language">
         <span>language</span>
      </a>
   </li>
   <li>
      <a href="#languageProduction"
         title="http://w3id.org/meta-share/lexmeta/languageProduction">language production</a>
   </li>
   <li>
      <a href="#languageReception"
         title="http://w3id.org/meta-share/lexmeta/languageReception">language reception</a>
   </li>
   <li>
      <a href="#DatasetDistributionFormScheme"
         title="http://w3id.org/meta-share/lexmeta/DatasetDistributionFormScheme">LCR Distribution Type</a>
   </li>
   <li>
      <a href="#LCRSeries" title="http://w3id.org/meta-share/lexmeta/LCRSeries">
         <span>LCR Series</span>
      </a>
   </li>
   <li>
      <a href="#learnersDictionary"
         title="http://w3id.org/meta-share/lexmeta/learnersDictionary">learners’ dictionary</a>
   </li>
   <li>
      <a href="#lemma" title="http://w3id.org/meta-share/lexmeta/lemma">lemma</a>
   </li>
   <li>
      <a href="#lemmaList" title="http://w3id.org/meta-share/lexmeta/lemmaList">lemma list</a>
   </li>
   <li>
      <a href="#LemmaTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/LemmaTypeScheme">Lemma Type</a>
   </li>
   <li>
      <a href="#lemmaType" title="http://w3id.org/meta-share/lexmeta/lemmaType">
         <span>lemma type</span>
      </a>
   </li>
   <li>
      <a href="#lemmaTypeOrientedDictionary"
         title="http://w3id.org/meta-share/lexmeta/lemmaTypeOrientedDictionary">lemma type oriented dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/LexicalConceptualResource"
         title="http://w3id.org/meta-share/meta-share/LexicalConceptualResource">
         <span>lexical conceptual resource</span>
      </a>
   </li>
   <li>
      <a href="#lexicographicDefinition"
         title="http://w3id.org/meta-share/lexmeta/lexicographicDefinition">lexicographic definition</a>
   </li>
   <li>
      <a href="#LexicographicalProcessTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/LexicographicalProcessTypeScheme">Lexicographical Process Type</a>
   </li>
   <li>
      <a href="#lexicographicalProcessType"
         title="http://w3id.org/meta-share/lexmeta/lexicographicalProcessType">
         <span>lexicographical process type</span>
      </a>
   </li>
   <li>
      <a href="#LingualityTypeScheme"
         title="http://w3id.org/meta-share/lexmeta/LingualityTypeScheme">Linguality Type</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/LingualityType"
         title="http://w3id.org/meta-share/meta-share/LingualityType">
         <span>linguality type</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/lingualityType"
         title="http://w3id.org/meta-share/meta-share/lingualityType">
         <span>linguality type</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/LinguisticSystem" title="http://purl.org/dc/terms/LinguisticSystem">
         <span>linguistic system</span>
      </a>
   </li>
   <li>
      <a href="#loanword" title="http://w3id.org/meta-share/lexmeta/loanword">loanword</a>
   </li>
   <li>
      <a href="#loanwordDictionary"
         title="http://w3id.org/meta-share/lexmeta/loanwordDictionary">loanword dictionary</a>
   </li>
   <li>
      <a href="#logicalDefinition"
         title="http://w3id.org/meta-share/lexmeta/logicalDefinition">logical definition</a>
   </li>
   <li>
      <a href="#lspDictionary"
         title="http://w3id.org/meta-share/lexmeta/lspDictionary">LSP dictionary</a>
   </li>
   <li>
      <a href="#mainEntry" title="http://w3id.org/meta-share/lexmeta/mainEntry">main entry</a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Manifestation" title="http://purl.org/vocab/frbr/core#Manifestation">
         <span>manifestation</span>
      </a>
   </li>
   <li>
      <a href="#meaningDiscrimination"
         title="http://w3id.org/meta-share/lexmeta/meaningDiscrimination">meaning discrimination</a>
   </li>
   <li>
      <a href="#meronym" title="http://w3id.org/meta-share/lexmeta/meronym">meronym</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/metalanguage"
         title="http://w3id.org/meta-share/meta-share/metalanguage">
         <span>metalanguage</span>
      </a>
   </li>
   <li>
      <a href="#MicrostructureFeatureScheme"
         title="http://w3id.org/meta-share/lexmeta/MicrostructureFeatureScheme">Microstructure Feature</a>
   </li>
   <li>
      <a href="#microstructureFeature"
         title="http://w3id.org/meta-share/lexmeta/microstructureFeature">
         <span>microstructure feature</span>
      </a>
   </li>
   <li>
      <a href="#middleMatter"
         title="http://w3id.org/meta-share/lexmeta/middleMatter">middle matter</a>
   </li>
   <li>
      <a href="#monolingualDictionary"
         title="http://w3id.org/meta-share/lexmeta/monolingualDictionary">monolingual dictionary</a>
   </li>
   <li>
      <a href="#mood" title="http://w3id.org/meta-share/lexmeta/mood">mood</a>
   </li>
   <li>
      <a href="#morphemeDictionary"
         title="http://w3id.org/meta-share/lexmeta/morphemeDictionary">morpheme dictionary</a>
   </li>
   <li>
      <a href="#morphologicalInformation"
         title="http://w3id.org/meta-share/lexmeta/morphologicalInformation">morphological information</a>
   </li>
   <li>
      <a href="#multiWordLexicalUnit"
         title="http://w3id.org/meta-share/lexmeta/multiWordLexicalUnit">multi-word lexical unit</a>
   </li>
   <li>
      <a href="#multilingualDictionary"
         title="http://w3id.org/meta-share/lexmeta/multilingualDictionary">multilingual dictionary</a>
   </li>
   <li>
      <a href="#multimedia" title="http://w3id.org/meta-share/lexmeta/multimedia">multimedia</a>
   </li>
   <li>
      <a href="#namesDictionary"
         title="http://w3id.org/meta-share/lexmeta/namesDictionary">names dictionary</a>
   </li>
   <li>
      <a href="#neologism" title="http://w3id.org/meta-share/lexmeta/neologism">neologism</a>
   </li>
   <li>
      <a href="#neologismsDictionary"
         title="http://w3id.org/meta-share/lexmeta/neologismsDictionary">neologisms dictionary</a>
   </li>
   <li>
      <a href="#nesting" title="http://w3id.org/meta-share/lexmeta/nesting">nesting</a>
   </li>
   <li>
      <a href="#nonceWord" title="http://w3id.org/meta-share/lexmeta/nonceWord">nonce word</a>
   </li>
   <li>
      <a href="#number" title="http://w3id.org/meta-share/lexmeta/number">number</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/oclcnum" title="http://purl.org/ontology/bibo/oclcnum">
         <span>oclcnum</span>
      </a>
   </li>
   <li>
      <a href="#offlineDictionary"
         title="http://w3id.org/meta-share/lexmeta/offlineDictionary">offline dictionary</a>
   </li>
   <li>
      <a href="#onlineDictionary"
         title="http://w3id.org/meta-share/lexmeta/onlineDictionary">online dictionary</a>
   </li>
   <li>
      <a href="#onomasiologicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/onomasiologicalDictionary">onomasiological dictionary</a>
   </li>
   <li>
      <a href="#onomasticDictionary"
         title="http://w3id.org/meta-share/lexmeta/onomasticDictionary">onomastic dictionary</a>
   </li>
   <li>
      <a href="#onomatopoeiaDictionary"
         title="http://w3id.org/meta-share/lexmeta/onomatopoeiaDictionary">onomatopoeia dictionary</a>
   </li>
   <li>
      <a href="#orthographicWord"
         title="http://w3id.org/meta-share/lexmeta/orthographicWord">orthographic word</a>
   </li>
   <li>
      <a href="#orthography" title="http://w3id.org/meta-share/lexmeta/orthography">orthography</a>
   </li>
   <li>
      <a href="#orthographyDictionary"
         title="http://w3id.org/meta-share/lexmeta/orthographyDictionary">orthography dictionary</a>
   </li>
   <li>
      <a href="#ostensiveDefinition"
         title="http://w3id.org/meta-share/lexmeta/ostensiveDefinition">ostensive definition</a>
   </li>
   <li>
      <a href="#outsideMatter"
         title="http://w3id.org/meta-share/lexmeta/outsideMatter">outside matter</a>
   </li>
   <li>
      <a href="#overallDescriptiveDictionary"
         title="http://w3id.org/meta-share/lexmeta/overallDescriptiveDictionary">overall-descriptive dictionary</a>
   </li>
   <li>
      <a href="#http://iflastandards.info/ns/fr/frbr/frbrer/P3057"
         title="http://iflastandards.info/ns/fr/frbr/frbrer/P3057">
         <span>p3057</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/pages" title="http://purl.org/ontology/bibo/pages">
         <span>pages</span>
      </a>
   </li>
   <li>
      <a href="#paperDictionary"
         title="http://w3id.org/meta-share/lexmeta/paperDictionary">paper dictionary</a>
   </li>
   <li>
      <a href="#paronymDictionary"
         title="http://w3id.org/meta-share/lexmeta/paronymDictionary">paronym dictionary</a>
   </li>
   <li>
      <a href="#partOfSpeech"
         title="http://w3id.org/meta-share/lexmeta/partOfSpeech">part of speech</a>
   </li>
   <li>
      <a href="#partOfSpeechSpecificDictionary"
         title="http://w3id.org/meta-share/lexmeta/partOfSpeechSpecificDictionary">part-of-speech-specific dictionary</a>
   </li>
   <li>
      <a href="#person" title="http://w3id.org/meta-share/lexmeta/person">person</a>
   </li>
   <li>
      <a href="#phoneticInformation"
         title="http://w3id.org/meta-share/lexmeta/phoneticInformation">phonetic information</a>
   </li>
   <li>
      <a href="#phoneticTranscription"
         title="http://w3id.org/meta-share/lexmeta/phoneticTranscription">phonetic transcription</a>
   </li>
   <li>
      <a href="#phonologicDictionary"
         title="http://w3id.org/meta-share/lexmeta/phonologicDictionary">phonologic dictionary</a>
   </li>
   <li>
      <a href="#phonologicalWord"
         title="http://w3id.org/meta-share/lexmeta/phonologicalWord">phonological word</a>
   </li>
   <li>
      <a href="#phraseme" title="http://w3id.org/meta-share/lexmeta/phraseme">phraseme</a>
   </li>
   <li>
      <a href="#phraseologicalInformation"
         title="http://w3id.org/meta-share/lexmeta/phraseologicalInformation">phraseological information</a>
   </li>
   <li>
      <a href="#phraseology" title="http://w3id.org/meta-share/lexmeta/phraseology">phraseology</a>
   </li>
   <li>
      <a href="#pocketElectronicDictionary"
         title="http://w3id.org/meta-share/lexmeta/pocketElectronicDictionary">pocket electronic dictionary</a>
   </li>
   <li>
      <a href="#polysemyIndication"
         title="http://w3id.org/meta-share/lexmeta/polysemyIndication">polysemy indication</a>
   </li>
   <li>
      <a href="#pragmaticInformation"
         title="http://w3id.org/meta-share/lexmeta/pragmaticInformation">pragmatic information</a>
   </li>
   <li>
      <a href="#preStandardisationDictionary"
         title="http://w3id.org/meta-share/lexmeta/preStandardisationDictionary">pre-standardisation dictionary</a>
   </li>
   <li>
      <a href="#prescriptiveDictionary"
         title="http://w3id.org/meta-share/lexmeta/prescriptiveDictionary">prescriptive dictionary</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/presentedAt" title="http://purl.org/ontology/bibo/presentedAt">
         <span>presented at</span>
      </a>
   </li>
   <li>
      <a href="#primarySchoolDictionary"
         title="http://w3id.org/meta-share/lexmeta/primarySchoolDictionary">primary school dictionary</a>
   </li>
   <li>
      <a href="#pronunciation"
         title="http://w3id.org/meta-share/lexmeta/pronunciation">pronunciation</a>
   </li>
   <li>
      <a href="#pronunciationDictionary"
         title="http://w3id.org/meta-share/lexmeta/pronunciationDictionary">pronunciation dictionary</a>
   </li>
   <li>
      <a href="#pronunciationKey"
         title="http://w3id.org/meta-share/lexmeta/pronunciationKey">pronunciation key</a>
   </li>
   <li>
      <a href="#proscriptiveDictionary"
         title="http://w3id.org/meta-share/lexmeta/proscriptiveDictionary">proscriptive dictionary</a>
   </li>
   <li>
      <a href="#proverb" title="http://w3id.org/meta-share/lexmeta/proverb">proverb</a>
   </li>
   <li>
      <a href="#proverbDictionary"
         title="http://w3id.org/meta-share/lexmeta/proverbDictionary">proverb dictionary</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/publisher" title="http://purl.org/dc/terms/publisher">
         <span>publisher</span>
      </a>
   </li>
   <li>
      <a href="#qualiaStructure"
         title="http://w3id.org/meta-share/lexmeta/qualiaStructure">qualia structure</a>
   </li>
   <li>
      <a href="#quotation" title="http://w3id.org/meta-share/lexmeta/quotation">quotation</a>
   </li>
   <li>
      <a href="#quotesDictionary"
         title="http://w3id.org/meta-share/lexmeta/quotesDictionary">quotes dictionary</a>
   </li>
   <li>
      <a href="#reflexivity" title="http://w3id.org/meta-share/lexmeta/reflexivity">reflexivity</a>
   </li>
   <li>
      <a href="#regionalDictionary"
         title="http://w3id.org/meta-share/lexmeta/regionalDictionary">regional dictionary</a>
   </li>
   <li>
      <a href="#regionalism" title="http://w3id.org/meta-share/lexmeta/regionalism">regionalism</a>
   </li>
   <li>
      <a href="#register" title="http://w3id.org/meta-share/lexmeta/register">register</a>
   </li>
   <li>
      <a href="#registerLabel"
         title="http://w3id.org/meta-share/lexmeta/registerLabel">register label</a>
   </li>
   <li>
      <a href="#relationDictionary"
         title="http://w3id.org/meta-share/lexmeta/relationDictionary">relation dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/replaces" title="http://w3id.org/meta-share/meta-share/replaces">
         <span>replaces</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceCreator"
         title="http://w3id.org/meta-share/meta-share/resourceCreator">
         <span>resource creator</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceName"
         title="http://w3id.org/meta-share/meta-share/resourceName">
         <span>resource name</span>
      </a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/resourceProvider"
         title="http://w3id.org/meta-share/meta-share/resourceProvider">
         <span>resource provider</span>
      </a>
   </li>
   <li>
      <a href="#respelledPronunciation"
         title="http://w3id.org/meta-share/lexmeta/respelledPronunciation">respelled pronunciation</a>
   </li>
   <li>
      <a href="#reverseDictionary"
         title="http://w3id.org/meta-share/lexmeta/reverseDictionary">reverse dictionary</a>
   </li>
   <li>
      <a href="#https://schema.org/review" title="https://schema.org/review">
         <span>review</span>
      </a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/reviewOf" title="http://purl.org/ontology/bibo/reviewOf">
         <span>review of</span>
      </a>
   </li>
   <li>
      <a href="#rhimeDictionary"
         title="http://w3id.org/meta-share/lexmeta/rhimeDictionary">rhime dictionary</a>
   </li>
   <li>
      <a href="#rootWord" title="http://w3id.org/meta-share/lexmeta/rootWord">root word</a>
   </li>
   <li>
      <a href="#ruleBasedDefinition"
         title="http://w3id.org/meta-share/lexmeta/ruleBasedDefinition">rule-based definition</a>
   </li>
   <li>
      <a href="#runOn" title="http://w3id.org/meta-share/lexmeta/runOn">run-on</a>
   </li>
   <li>
      <a href="#schoolDictionary"
         title="http://w3id.org/meta-share/lexmeta/schoolDictionary">school dictionary</a>
   </li>
   <li>
      <a href="#semanticClass"
         title="http://w3id.org/meta-share/lexmeta/semanticClass">semantic class</a>
   </li>
   <li>
      <a href="#semanticFeature"
         title="http://w3id.org/meta-share/lexmeta/semanticFeature">semantic feature</a>
   </li>
   <li>
      <a href="#semanticField"
         title="http://w3id.org/meta-share/lexmeta/semanticField">semantic field</a>
   </li>
   <li>
      <a href="#semanticInformation"
         title="http://w3id.org/meta-share/lexmeta/semanticInformation">semantic information</a>
   </li>
   <li>
      <a href="#semanticRelation"
         title="http://w3id.org/meta-share/lexmeta/semanticRelation">semantic relation</a>
   </li>
   <li>
      <a href="#semanticRole"
         title="http://w3id.org/meta-share/lexmeta/semanticRole">semantic role</a>
   </li>
   <li>
      <a href="#semasiologicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/semasiologicalDictionary">semasiological dictionary</a>
   </li>
   <li>
      <a href="#senseOrdering"
         title="http://w3id.org/meta-share/lexmeta/senseOrdering">sense ordering</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/shortTitle" title="http://purl.org/ontology/bibo/shortTitle">
         <span>short title</span>
      </a>
   </li>
   <li>
      <a href="#signLanguageDictionary"
         title="http://w3id.org/meta-share/lexmeta/signLanguageDictionary">sign language dictionary</a>
   </li>
   <li>
      <a href="#signpost" title="http://w3id.org/meta-share/lexmeta/signpost">signpost</a>
   </li>
   <li>
      <a href="#singleWordLexicalUnit"
         title="http://w3id.org/meta-share/lexmeta/singleWordLexicalUnit">single-word lexical unit</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/size" title="http://w3id.org/meta-share/meta-share/size">
         <span>size</span>
      </a>
   </li>
   <li>
      <a href="#slang" title="http://w3id.org/meta-share/lexmeta/slang">slang</a>
   </li>
   <li>
      <a href="#slangDictionary"
         title="http://w3id.org/meta-share/lexmeta/slangDictionary">slang dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/sourceLanguage"
         title="http://w3id.org/meta-share/meta-share/sourceLanguage">
         <span>source language</span>
      </a>
   </li>
   <li>
      <a href="#specializedDictionary"
         title="http://w3id.org/meta-share/lexmeta/specializedDictionary">specialized dictionary</a>
   </li>
   <li>
      <a href="#specializedSense"
         title="http://w3id.org/meta-share/lexmeta/specializedSense">specialized sense</a>
   </li>
   <li>
      <a href="#spelling" title="http://w3id.org/meta-share/lexmeta/spelling">spelling</a>
   </li>
   <li>
      <a href="#spellingVariant"
         title="http://w3id.org/meta-share/lexmeta/spellingVariant">spelling variant</a>
   </li>
   <li>
      <a href="#standardDictionary"
         title="http://w3id.org/meta-share/lexmeta/standardDictionary">standard dictionary</a>
   </li>
   <li>
      <a href="#standardSpelling"
         title="http://w3id.org/meta-share/lexmeta/standardSpelling">standard spelling</a>
   </li>
   <li>
      <a href="#standardDescriptiveDictionary"
         title="http://w3id.org/meta-share/lexmeta/standardDescriptiveDictionary">standard-descriptive dictionary</a>
   </li>
   <li>
      <a href="#statusLabel" title="http://w3id.org/meta-share/lexmeta/statusLabel">status label</a>
   </li>
   <li>
      <a href="#style" title="http://w3id.org/meta-share/lexmeta/style">style</a>
   </li>
   <li>
      <a href="#styleLabel" title="http://w3id.org/meta-share/lexmeta/styleLabel">style label</a>
   </li>
   <li>
      <a href="#http://www.w3.org/2000/01/rdf-schema#subClassOf"
         title="http://www.w3.org/2000/01/rdf-schema#subClassOf">
         <span>sub class of</span>
      </a>
   </li>
   <li>
      <a href="#subcategorizationFrame"
         title="http://w3id.org/meta-share/lexmeta/subcategorizationFrame">subcategorization frame</a>
   </li>
   <li>
      <a href="#subentry" title="http://w3id.org/meta-share/lexmeta/subentry">subentry</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/subject" title="http://purl.org/dc/terms/subject">
         <span>subject</span>
      </a>
   </li>
   <li>
      <a href="#subjectHeadingsDictionary"
         title="http://w3id.org/meta-share/lexmeta/subjectHeadingsDictionary">subject headings dictionary</a>
   </li>
   <li>
      <a href="#subjectLabel"
         title="http://w3id.org/meta-share/lexmeta/subjectLabel">subject label</a>
   </li>
   <li>
      <a href="#subsense" title="http://w3id.org/meta-share/lexmeta/subsense">subsense</a>
   </li>
   <li>
      <a href="#swearwordDictionary"
         title="http://w3id.org/meta-share/lexmeta/swearwordDictionary">swearword dictionary</a>
   </li>
   <li>
      <a href="#syllabification"
         title="http://w3id.org/meta-share/lexmeta/syllabification">syllabification</a>
   </li>
   <li>
      <a href="#synonym" title="http://w3id.org/meta-share/lexmeta/synonym">synonym</a>
   </li>
   <li>
      <a href="#synonymsDictionary"
         title="http://w3id.org/meta-share/lexmeta/synonymsDictionary">synonyms dictionary</a>
   </li>
   <li>
      <a href="#syntacticInformation"
         title="http://w3id.org/meta-share/lexmeta/syntacticInformation">syntactic information</a>
   </li>
   <li>
      <a href="#syntagmaticInformation"
         title="http://w3id.org/meta-share/lexmeta/syntagmaticInformation">syntagmatic information</a>
   </li>
   <li>
      <a href="#syntheticDefinition"
         title="http://w3id.org/meta-share/lexmeta/syntheticDefinition">synthetic definition</a>
   </li>
   <li>
      <a href="#tabooDictionary"
         title="http://w3id.org/meta-share/lexmeta/tabooDictionary">taboo dictionary</a>
   </li>
   <li>
      <a href="#http://w3id.org/meta-share/meta-share/targetLanguage"
         title="http://w3id.org/meta-share/meta-share/targetLanguage">
         <span>target language</span>
      </a>
   </li>
   <li>
      <a href="#tense" title="http://w3id.org/meta-share/lexmeta/tense">tense</a>
   </li>
   <li>
      <a href="#terminologicalDictionary"
         title="http://w3id.org/meta-share/lexmeta/terminologicalDictionary">terminological dictionary</a>
   </li>
   <li>
      <a href="#textProduction"
         title="http://w3id.org/meta-share/lexmeta/textProduction">text production</a>
   </li>
   <li>
      <a href="#textProofreading"
         title="http://w3id.org/meta-share/lexmeta/textProofreading">text proofreading</a>
   </li>
   <li>
      <a href="#textReception"
         title="http://w3id.org/meta-share/lexmeta/textReception">text reception</a>
   </li>
   <li>
      <a href="#textTranslation"
         title="http://w3id.org/meta-share/lexmeta/textTranslation">text translation</a>
   </li>
   <li>
      <a href="#thesaurus" title="http://w3id.org/meta-share/lexmeta/thesaurus">thesaurus</a>
   </li>
   <li>
      <a href="#http://purl.org/dc/terms/title" title="http://purl.org/dc/terms/title">
         <span>title</span>
      </a>
   </li>
   <li>
      <a href="#tradeName" title="http://w3id.org/meta-share/lexmeta/tradeName">trade name</a>
   </li>
   <li>
      <a href="#translationEquivalent"
         title="http://w3id.org/meta-share/lexmeta/translationEquivalent">translation equivalent</a>
   </li>
   <li>
      <a href="#translationInformation"
         title="http://w3id.org/meta-share/lexmeta/translationInformation">translation information</a>
   </li>
   <li>
      <a href="#troponym" title="http://w3id.org/meta-share/lexmeta/troponym">troponym</a>
   </li>
   <li>
      <a href="#typifyingDefinition"
         title="http://w3id.org/meta-share/lexmeta/typifyingDefinition">typifying definition</a>
   </li>
   <li>
      <a href="#usageInformation"
         title="http://w3id.org/meta-share/lexmeta/usageInformation">usage information</a>
   </li>
   <li>
      <a href="#usageLabel" title="http://w3id.org/meta-share/lexmeta/usageLabel">usage label</a>
   </li>
   <li>
      <a href="#usageNote" title="http://w3id.org/meta-share/lexmeta/usageNote">usage note</a>
   </li>
   <li>
      <a href="#userGroupOrientedDictionary"
         title="http://w3id.org/meta-share/lexmeta/userGroupOrientedDictionary">user group oriented dictionary</a>
   </li>
   <li>
      <a href="#valency" title="http://w3id.org/meta-share/lexmeta/valency">valency</a>
   </li>
   <li>
      <a href="#valencyDictionary"
         title="http://w3id.org/meta-share/lexmeta/valencyDictionary">valency dictionary</a>
   </li>
   <li>
      <a href="#variant" title="http://w3id.org/meta-share/lexmeta/variant">variant</a>
   </li>
   <li>
      <a href="#varietyOrientedDictionary"
         title="http://w3id.org/meta-share/lexmeta/varietyOrientedDictionary">variety oriented dictionary</a>
   </li>
   <li>
      <a href="#verbalIllustration"
         title="http://w3id.org/meta-share/lexmeta/verbalIllustration">verbal illustration</a>
   </li>
   <li>
      <a href="#videoContent"
         title="http://w3id.org/meta-share/lexmeta/videoContent">video content</a>
   </li>
   <li>
      <a href="#vocabularyLearning"
         title="http://w3id.org/meta-share/lexmeta/vocabularyLearning">vocabulary learning</a>
   </li>
   <li>
      <a href="#vocabularyRetention"
         title="http://w3id.org/meta-share/lexmeta/vocabularyRetention">vocabulary retention</a>
   </li>
   <li>
      <a href="#voice" title="http://w3id.org/meta-share/lexmeta/voice">voice</a>
   </li>
   <li>
      <a href="#http://purl.org/ontology/bibo/volume" title="http://purl.org/ontology/bibo/volume">
         <span>volume</span>
      </a>
   </li>
   <li>
      <a href="#wikibaseEntity"
         title="http://w3id.org/meta-share/lexmeta/wikibaseEntity">
         <span>wikibase entity</span>
      </a>
   </li>
   <li>
      <a href="#wikisourceTranscription"
         title="http://w3id.org/meta-share/lexmeta/wikisourceTranscription">Wikisource transcription</a>
   </li>
   <li>
      <a href="#word" title="http://w3id.org/meta-share/lexmeta/word">word</a>
   </li>
   <li>
      <a href="#wordCombination"
         title="http://w3id.org/meta-share/lexmeta/wordCombination">word combination</a>
   </li>
   <li>
      <a href="#wordDivision"
         title="http://w3id.org/meta-share/lexmeta/wordDivision">word division</a>
   </li>
   <li>
      <a href="#wordFamilyDictionary"
         title="http://w3id.org/meta-share/lexmeta/wordFamilyDictionary">word family dictionary</a>
   </li>
   <li>
      <a href="#wordFormation"
         title="http://w3id.org/meta-share/lexmeta/wordFormation">word formation</a>
   </li>
   <li>
      <a href="#wordSense" title="http://w3id.org/meta-share/lexmeta/wordSense">word sense</a>
   </li>
   <li>
      <a href="#http://purl.org/vocab/frbr/core#Work" title="http://purl.org/vocab/frbr/core#Work">
         <span>work</span>
      </a>
   </li>
</ul>
